* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.pageWrapper .menu {
  width: 8%;
  min-width: 68px;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.pageWrapper .menu .logo {
  width: 100%;
  text-align: center;
}
.pageWrapper .menu .logo img {
  margin-top: 27px;
  width: clamp(25px, 75%, 100px);
}
.pageWrapper .menu .navbar {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pageWrapper .menu .navbar div {
  transition: 0.3s;
}
.pageWrapper .menu .navbar div :hover {
  cursor: pointer;
  color: #F26B6B;
  transition: all 0.3s ease-out;
}
.pageWrapper .menu .navbar div :not(:hover) {
  transition: all 0.3s ease-out;
}
.pageWrapper .menu .navbar div i {
  font-size: clamp(21px, 2.2em, 30px);
}
.pageWrapper .workSpace {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.pageWrapper .workSpace .head {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
}
.pageWrapper .workSpace .head .titleAndFilter {
  margin-left: 56px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pageWrapper .workSpace .head .titleAndFilter .title {
  margin-top: 3%;
  width: 100%;
  height: 65%;
  text-align: center;
}
.pageWrapper .workSpace .head .titleAndFilter .title span {
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(45px, 4vw, 51px);
  line-height: 88px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.pageWrapper .workSpace .head .titleAndFilter .filter {
  width: 100%;
  height: 35%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}
.pageWrapper .workSpace .head .titleAndFilter .filter :hover {
  -webkit-user-select: none;
          user-select: none;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #F26B6B;
  transition: all 0.3s ease-out;
}
.pageWrapper .workSpace .head .titleAndFilter .filter :not(:hover) {
  transition: all 0.3s ease-out;
}
.pageWrapper .workSpace .head .titleAndFilter .filter :nth-child(1) {
  margin-right: 45px;
}
.pageWrapper .workSpace .head .titleAndFilter .filter :nth-child(3) {
  margin-left: 45px;
}
.pageWrapper .workSpace .head .titleAndFilter .filter a {
  height: 50px;
  width: 119px;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
.pageWrapper .workSpace .head .titleAndFilter .filter a :active {
  color: #000000;
}
.pageWrapper .workSpace .head .accountInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.pageWrapper .workSpace .head .accountInfo .accountCard {
  width: 305px;
  min-width: 258px;
  height: 50px;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}
.pageWrapper .workSpace .head .accountInfo .accountCard :hover {
  cursor: pointer;
}
.pageWrapper .workSpace .head .accountInfo .accountCard span {
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(18px, 1.6vw, 22px);
  line-height: 47px;
  -webkit-user-select: none;
          user-select: none;
}
.pageWrapper .workSpace .head .accountInfo .accountCard .name {
  padding-right: 3%;
}
.pageWrapper .workSpace .head .accountInfo .accountCard .avatarka img {
  margin-top: 12%;
  width: 43px;
  -webkit-clip-path: circle(20px at 23px 20px);
          clip-path: circle(20px at 23px 20px);
}
.pageWrapper .workSpace .head .accountInfo .accountCard .exit {
  margin-left: 20px;
  margin-top: 5px;
}
.pageWrapper .workSpace .head .accountInfo .accountCard .exit :hover {
  color: #F26B6B;
  transition: 0.3s;
}
.pageWrapper .workSpace .head .accountInfo .accountCard .exit :not(:hover) {
  color: #000000;
  transition: 0.3s;
}
.pageWrapper .workSpace .head .accountInfo .accountCard .exit i {
  font-size: 25px;
}
.pageWrapper .workSpace .information {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 45% 45%;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
}
.pageWrapper .workSpace .information .card {
  background-color: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.pageWrapper .workSpace .information .card .rect {
  position: relative;
  height: 63px;
  border-radius: 25px 25px 0px 0px;
  background-color: #F26B6B;
  text-align: center;
}
.pageWrapper .workSpace .information .card .titleCard {
  display: block;
  padding-top: 1%;
  color: #FDFDFD;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 23px;
  line-height: 59px;
}
.pageWrapper .workSpace .information .dataDiagram .rect {
  text-align: center;
}
.pageWrapper .workSpace .information .anyInfoCard {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.pageWrapper .workSpace .information .anyInfoCard .rect {
  text-align: center;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo {
  margin: 0 auto;
  width: 90%;
  font-family: circe, sans-serif;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .memory {
  padding: 20px 30px 10px 20px;
  list-style: none;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .memory .titleMemory {
  font-weight: bold;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .memory li {
  padding: 3px;
  font-size: 20px;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .memory li .memoryInfo {
  margin-left: 15px;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .memory .infoMemory {
  padding-left: 15px;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .cpu {
  padding: 20px 30px 0px 20px;
  list-style: none;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .cpu .titleCpu {
  font-weight: bold;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .cpu li {
  padding: 3px;
  font-size: 20px;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .cpu li .memoryInfo {
  margin-left: 15px;
}
.pageWrapper .workSpace .information .anyInfoCard .agentInfo .cpu .infoCpu {
  padding-left: 15px;
}
.pageWrapper .workSpace .information .servers {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #221F1F;
}
.pageWrapper .workSpace .information .servers .titleServers {
  display: block;
  padding-top: 6%;
  font-family: circe, sans-serif;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}
.pageWrapper .workSpace .information .servers .nameServersWrapper {
  margin: 0 auto;
  width: 90%;
}
.pageWrapper .workSpace .information .servers .nameServersWrapper ul {
  padding: 20px 20px 80px 20px;
  list-style-type: none;
}
.pageWrapper .workSpace .information .servers .nameServersWrapper ul li {
  padding: 30px 20px 10px;
  font-size: 23px;
  font-family: circe, sans-serif;
  border-bottom: 1px solid #e1e1e1;
}
.pageWrapper .workSpace .information .servers .nameServersWrapper ul li label {
  padding-left: 10px;
  color: #ffffff;
}
.pageWrapper .workSpace .information .servers .nameServersWrapper ul li :hover {
  cursor: pointer;
}