* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 2vw;
  overflow-x: hidden;
}

.pageWrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.pageWrapper .sidebar {
  position: fixed;
  height: 100vh;
  background-color: #FFFFFF;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pageWrapper .sidebar .logo {
  width: 2em;
  height: 30%;
  text-align: center;
}
.pageWrapper .sidebar .logo img {
  margin-top: 50%;
  width: 1.5em;
}
.pageWrapper .sidebar .navbar {
  text-align: center;
}
.pageWrapper .sidebar .navbar ul li {
  padding: 60% 0;
  font-size: 0.7em;
}
.pageWrapper .sidebar .navbar ul li i {
  transition: 0.3s;
}
.pageWrapper .sidebar .navbar ul li i:hover {
  cursor: pointer;
  color: #F98181;
  transition: 0.3s;
}
.pageWrapper .sidebar .navbar ul li:nth-child(2) {
  color: #F98181;
}
.pageWrapper .sidebar .mobileExit {
  display: none;
  text-align: center;
  margin-top: 90%;
}
.pageWrapper .sidebar .mobileExit svg {
  padding: 5%;
  border-radius: 0.2em;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.6);
}
.pageWrapper .main {
  margin-left: 2.5em;
  display: flex;
  flex-direction: column;
}
.pageWrapper .main .head {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pageWrapper .main .head .title {
  width: 100%;
  padding-top: 2%;
  padding-left: 4%;
}
.pageWrapper .main .head .title span {
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.7em;
}
.pageWrapper .main .head .exit {
  width: 100%;
}
.pageWrapper .main .head .exit .accountCard {
  display: inline-block;
  margin: 7% 0 0 44%;
  padding: 0.1em 1.4em;
  border-radius: 0.4em;
  box-shadow: 0px 0.1em 0.8em rgba(0, 0, 0, 0.25);
}
.pageWrapper .main .head .exit .accountCard span {
  position: relative;
  bottom: 0.2em;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.7em;
}
.pageWrapper .main .head .exit .accountCard svg {
  position: relative;
  top: 0.15em;
  left: 0.7em;
  width: 1em;
  height: 1em;
}
.pageWrapper .main .head .exit .accountCard svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}
.pageWrapper .main .head .exit .accountCard svg:hover {
  cursor: pointer;
  fill: #F98181;
  transition: 0.3s;
}
.pageWrapper .main .head .exit .accountCard svg:not(:hover) {
  fill: #000000;
  transition: 0.3s;
}
.pageWrapper .main .allInfo {
  padding: 1em 0 1em 1.5em;
  margin-right: 2%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 14em 14em 14em;
  grid-gap: 1em 1em;
}
.pageWrapper .main .allInfo .card {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 0.4em;
}
.pageWrapper .main .allInfo .card .rect {
  position: relative;
  height: 1.5em;
  border-radius: 0.4em 0.4em 0 0;
  background-color: #F26B6B;
  text-align: center;
}
.pageWrapper .main .allInfo .card .titleCard {
  display: block;
  padding-top: 1%;
  color: #FDFDFD;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
}
.pageWrapper .main .allInfo .card .infoTitle {
  margin-bottom: 0.3em;
}
.pageWrapper .main .allInfo .card .infoTitle span {
  padding: 0.1em;
  border-radius: 0.4em;
  display: inline;
  margin-left: 2em;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.5em;
  background-color: #DFDFDF;
}
.pageWrapper .main .allInfo .infoCard {
  display: none;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  flex-direction: column;
  justify-content: space-between;
}
.pageWrapper .main .allInfo .infoCard .statusWrapper {
  margin-botton: 1em;
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pageWrapper .main .allInfo .infoCard .statusWrapper .status {
  display: flex;
  margin-left: 2em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em 0;
}
.pageWrapper .main .allInfo .infoCard .statusWrapper .status .indicator {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
}
.pageWrapper .main .allInfo .infoCard .statusWrapper .status .currentStatus {
  margin-left: 0.3em;
  font-size: 1em;
}
.pageWrapper .main .allInfo .infoCard .statusWrapper .status .currentStatus span {
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
}
.pageWrapper .main .allInfo .infoCard .down {
  display: none;
  margin-bottom: 1em;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.pageWrapper .main .allInfo .infoCard .down .downInfo ul {
  padding: 0.5em 1em;
  list-style-type: none;
}
.pageWrapper .main .allInfo .infoCard .down .downInfo ul li {
  width: 100%;
  padding: 0.5em 0.7em 0 0;
  font-size: 0.5em;
  font-family: circe, sans-serif;
  border-bottom: 0.05em solid #e1e1e1;
}
.pageWrapper .main .allInfo .infoCard .down .downInfo ul li .titleTime,
.pageWrapper .main .allInfo .infoCard .down .downInfo ul li .titleDuring {
  font-size: 1.2em;
}
.pageWrapper .main .allInfo .infoCard .down .downInfo ul li .titleTime,
.pageWrapper .main .allInfo .infoCard .down .downInfo ul li .time {
  padding-left: 0.4em;
  color: #A7A7A7;
}
.pageWrapper .main .allInfo .infoCard .down .downInfo ul li .titleDuring,
.pageWrapper .main .allInfo .infoCard .down .downInfo ul li .during {
  float: right;
  color: #A7A7A7;
}
.pageWrapper .main .allInfo .infoCard .down .downInfo ul li .time,
.pageWrapper .main .allInfo .infoCard .down .downInfo ul li .during {
  color: #000000;
}
.pageWrapper .main .allInfo .infoCard .config {
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pageWrapper .main .allInfo .infoCard .config .monitoringInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5em 0;
}
.pageWrapper .main .allInfo .infoCard .config .monitoringInfoWrapper .monitoringInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.pageWrapper .main .allInfo .infoCard .config .monitoringInfoWrapper .monitoringInfo div {
  text-align: center;
  width: 100%;
}
.pageWrapper .main .allInfo .infoCard .config .monitoringInfoWrapper .monitoringInfo span {
  font-family: circe, sans-serif;
  font-size: 0.8em;
}
.pageWrapper .main .allInfo .infoCard .config .monitoringInfoWrapper .titleMonitoringInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.pageWrapper .main .allInfo .infoCard .config .monitoringInfoWrapper .titleMonitoringInfo div {
  text-align: center;
  width: 100%;
}
.pageWrapper .main .allInfo .infoCard .config .monitoringInfoWrapper .titleMonitoringInfo span {
  font-family: circe, sans-serif;
  font-size: 0.6em;
}
.pageWrapper .main .allInfo .alert {
  display: block;
  position: absolute;
  left: 25vw;
  top: 20vw;
  z-index: 2;
}
.pageWrapper .main .allInfo .alert span {
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  color: #9C9C9C;
}
.pageWrapper .main .allInfo .url {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #221F1F;
}
.pageWrapper .main .allInfo .url .rect {
  background-color: #221F1F;
}
.pageWrapper .main .allInfo .url .titleCard {
  display: block;
  padding-top: 5%;
  color: #FDFDFD;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
}
.pageWrapper .main .allInfo .url .nameURLWrapper {
  margin: 0 auto;
  width: 90%;
}
.pageWrapper .main .allInfo .url .nameURLWrapper ul {
  padding: 1.5em 1em 2em 1em;
  list-style-type: none;
}
.pageWrapper .main .allInfo .url .nameURLWrapper ul li {
  position: relative;
  width: 100%;
  padding: 1em 0.7em 0.2em 0;
  font-size: 0.8em;
  font-family: circe, sans-serif;
  border-bottom: 0.05em solid #e1e1e1;
}
.pageWrapper .main .allInfo .url .nameURLWrapper ul li label {
  display: flex;
  flex-direction: column;
  padding-left: 0.4em;
  color: #676464;
}
.pageWrapper .main .allInfo .url .nameURLWrapper ul li label:hover {
  cursor: pointer;
  color: #FFFFFF;
  transition: 0.3s;
}
.pageWrapper .main .allInfo .url .nameURLWrapper ul li label:not(:hover) {
  color: #676464;
  transition: 0.3s;
}
.pageWrapper .main .allInfo .url .nameURLWrapper ul li input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.pageWrapper .main .allInfo .url .nameURLWrapper ul li input:checked + label {
  color: #FFFFFF;
}