* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vw;
}

.pageWrapper {
    text-align: center;
    margin: 0 5%;

    .logo {
        display: inline-block;
        margin-top: 2%;
        margin-right: 1%;

        img {
            width: 5.5vw;
        }
    }

    .title {
        display: inline-block;

        span {
            font-family: circe, sans-serif;
            font-size: 3em;
            font-weight: bold;
        }
    }

    .text {
        text-align: left;

        p {
            text-indent: 1.5em;
            font-family: circe, sans-serif;
            font-size: 0.7em;
            text-align: left;

            &:nth-child(1) {
                text-indent: inherit;
                text-align: center;
                font-size: 1.8em;
                font-weight: bold;
            }

        }

        .back {
            height: 5vw;
            width: 15vw;
            background-color: #F26B6B;
            margin: 4% auto;
            border-radius: 0.8em;
            text-align: center;

            a {
                display: inline-block;
                margin-top: 6%;
                color: #EAEAEA;
                text-decoration: none;
                font-family: circe, sans-serif;
                font-weight: bold;
                font-size: 1em;

                &:hover,
                &:active,
                &:visited {
                    color: #EAEAEA;
                }

            }


            &:hover {
                cursor: pointer;
                background-color: #F25959;
                transition: 0.3s;
            }

            &:not(:hover) {
                transition: 0.3s;
            }
        }

    }
}

//phone
@media screen and (max-width: 575.98px) {
    .pageWrapper {
        .logo {
            margin-top: 5%;

            img {
                width: 12vw;
            }
        }

        .title {
            span {
                font-size: 7em;
            }
        }

        .text {
            p {
                text-indent: 4em;
                font-size: 1.5em;

                &:nth-child(1) {
                    font-size: 3.5em;
                    font-weight: bold;

                    //                    color: red;
                }

            }

            .back {
                height: 8.5vw;
                width: 28vw;
                border-radius: 2em;

                a {
                    font-size: 1.8em;
                    margin-top: 6%;
                }
            }
        }
    }
}

//tablet
@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .pageWrapper {
        .logo {
            margin-top: 5%;

            img {
                width: 11vw;
            }
        }

        .title {
            span {
                font-size: 6em;
            }
        }

        .text {
            p {
                text-indent: 4em;
                font-size: 1em;

                &:nth-child(1) {
                    font-size: 3em;
                    font-weight: bold;

                    //                    color: red;
                }

            }

            .back {
                height: 8.5vw;
                width: 28vw;
                border-radius: 2em;

                a {
                    font-size: 1.8em;
                    margin-top: 6%;
                }
            }
        }
    }
}

//tablet landscape
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .pageWrapper {
        .logo {
            margin-top: 5%;

            img {
                width: 10vw;
            }
        }

        .title {
            span {
                font-size: 5em;
            }
        }

        .text {
            p {
                text-indent: 4em;
                font-size: 1em;

                &:nth-child(1) {
                    font-size: 2em;
                    font-weight: bold;

                    //                    color: aqua;
                }

            }

            .back {
                height: 7vw;
                width: 22vw;
                border-radius: 2em;

                a {
                    font-size: 1.5em;
                    margin-top: 6%;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1380.98px) {}

//landscape

@media screen and (max-width: 653.98px) and (max-height: 280px) {}

//landscape
@media screen and (max-width: 575.98px) and (max-height: 360.98px) {}

@media screen and (min-width: 576px) and (max-width: 896.98px) and (min-height: 359.98px) and (max-height: 540px) {}
