@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 2vw;
}

[data-tooltip] {
  position: relative;
  /* Относительное позиционирование */
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 10em;
  left: 1em;
  top: 0;
  background: #F26B6B;
  border-radius: 0.4em;
  font-family: circe, sans-serif;
  font-size: 0.5em;
  color: #fff;
  padding: 0.4em;
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  z-index: 20;
}

[data-tooltip]:hover::after {
  opacity: 1;
  left: 2em;
}

.pageWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.pageWrapper .chooseLang {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: circe, sans-serif;
  font-size: 0.7em;
  top: 2em;
  right: 3em;
  border: 0.01em solid #ABABAB;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  -webkit-user-select: none;
          user-select: none;
  color: #B4B4B4;
}
.pageWrapper .chooseLang .translate label {
  cursor: pointer;
}
.pageWrapper .chooseLang .translate input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.pageWrapper .chooseLang .translate input:checked + label {
  color: #000000;
}
.pageWrapper .chooseLang .langSeparate {
  color: #000000;
  padding: 0 0.2em;
}
.pageWrapper .infoWrapper {
  display: none;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 2;
}
.pageWrapper .infoWrapper::before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 5;
}
.pageWrapper .infoWrapper .info {
  position: relative;
  top: 35%;
  left: 35%;
  padding: 1%;
  width: 30vw;
  border-radius: 0.4em;
  background-color: #f26b6b;
  z-index: 5;
}
.pageWrapper .infoWrapper .info .infoContentWrapper {
  width: 100%;
  text-align: center;
}
.pageWrapper .infoWrapper .info .infoContentWrapper span {
  width: 100%;
  color: #FFFFFF;
  font-family: circe, sans-serif;
  font-size: 0.5em;
  font-weight: bold;
}
.pageWrapper .infoWrapper .info .infoContentWrapper input[type=button] {
  margin: 10% 0 0 0;
  padding: 1% 3%;
  width: 40%;
  border-radius: 0.4em;
  font-family: circe, sans-serif;
  font-size: 0.5em;
  border: none;
  outline: none;
}
.pageWrapper .infoWrapper .info .infoContentWrapper input[type=button]:active, .pageWrapper .infoWrapper .info .infoContentWrapper input[type=button]:focus, .pageWrapper .infoWrapper .info .infoContentWrapper input[type=button]:hover {
  border: none;
  outline: none;
}
.pageWrapper .infoWrapper .info .infoContentWrapper input[type=button]:hover {
  cursor: pointer;
  background-color: #E5E5E5;
}
.pageWrapper .header {
  margin-top: 4%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.pageWrapper .header .logo {
  margin-top: 5%;
  margin-right: 5%;
}
.pageWrapper .header .logo img {
  width: 5vw;
}
.pageWrapper .header .title span {
  font-family: circe, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}
.pageWrapper .auth {
  width: 60vw;
  height: 75vh;
}
.pageWrapper .auth .formWrapper {
  margin: 0 auto;
  width: 30vw;
  box-shadow: 0 0.8em 2.8em rgba(0, 0, 0, 0.25);
  border-radius: 0.4em;
}
.pageWrapper .auth .formWrapper .rect {
  position: relative;
  border-radius: 0.4em 0.4em 0px 0px;
  background-color: #F26B6B;
  text-align: center;
}
.pageWrapper .auth .formWrapper .rect .titleAuth {
  display: block;
  padding-top: 1%;
  color: #FDFDFD;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 1em;
}
.pageWrapper .auth .formWrapper .contentForm ul {
  margin: 5%;
  list-style: none;
}
.pageWrapper .auth .formWrapper .contentForm ul li {
  text-align: center;
  margin: 10% 2%;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(1) {
  height: 4vw;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(1) input[name=mail] {
  height: 100%;
  width: 100%;
  border-radius: 0.4em;
  padding: 1em;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7em;
  background: #EAEAEA;
  outline: none;
  border: none;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) {
  height: 4vw;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword {
  height: 100%;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword .circle {
  position: relative;
  left: 40%;
  bottom: 79%;
  border-radius: 50%;
  display: inline-block;
  height: 2.3vw;
  width: 2.3vw;
  background-color: #c4c4c4;
  z-index: 1;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword .circle:hover {
  cursor: pointer;
  background-color: #b2b2b2;
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword .circle:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword input[name=password] {
  height: 100%;
  width: 100%;
  border-radius: 0.4em;
  padding: 1em;
  padding-right: 3em;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7em;
  background: #EAEAEA;
  outline: none;
  border: none;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword i {
  position: relative;
  float: right;
  z-index: 1;
  top: 25%;
  right: 30%;
  font-size: 1.3vw;
  -webkit-user-select: none;
          user-select: none;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) {
  margin-bottom: 0;
  height: 3vw;
  clear: both;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) #submit {
  width: 50%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0.4em;
  background-color: #F26B6B;
  color: #f8f8f8;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85em;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) #submit:hover {
  cursor: pointer;
  background-color: #F25959;
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) #submit:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(4) {
  margin: 4%;
  color: #666666;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.6em;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) {
  margin-top: 0;
  height: 3vw;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div {
  display: inline-block;
  width: 50%;
  height: 100%;
  border-radius: 0.4em;
  background-color: #7C97F8;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span {
  color: #f1f1f1;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span i {
  margin-left: 5%;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div:hover {
  cursor: pointer;
  background-color: #6686F8;
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) {
  margin-top: 5%;
  padding-bottom: 2%;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) span {
  color: #616161;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.5em;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) a {
  margin-left: 1%;
  color: #616161;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.5em;
}

@media screen and (max-width: 575.98px) {
  .pageWrapper .chooseLang {
    font-size: 2.5em;
    top: 1em;
    right: 2em;
    padding: 0.2em 0.5em;
    border-radius: 1em;
  }
  .pageWrapper .chooseLang .langSeparate {
    color: #000000;
    padding: 0 0.2em;
  }
  .pageWrapper .infoWrapper .info {
    top: 25%;
    left: 10%;
    padding: 3%;
    width: 80vw;
  }
  .pageWrapper .infoWrapper .info span {
    font-size: 1.5em;
  }
  .pageWrapper .infoWrapper .info input[type=button] {
    margin: 10% 0 0 30%;
    padding: 1% 3%;
    width: 40%;
    font-size: 1.5em;
  }
  .pageWrapper .header {
    margin-top: 20%;
  }
  .pageWrapper .header .logo img {
    width: 16vw;
  }
  .pageWrapper .header .title span {
    font-size: 8em;
  }
  .pageWrapper .auth {
    margin-right: 20%;
  }
  .pageWrapper .auth .formWrapper {
    width: 80vw;
    border-radius: 1em;
  }
  .pageWrapper .auth .formWrapper .rect {
    border-radius: 1em 1em 0px 0px;
  }
  .pageWrapper .auth .formWrapper .rect .titleAuth {
    font-size: 2.5em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li {
    margin: 10% 2%;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(1) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(1) input[name=mail] {
    padding: 1.3em;
    font-size: 2em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword .circle {
    left: 40%;
    bottom: 95%;
    height: 7vw;
    width: 7vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword input[name=password] {
    padding: 1.3em;
    padding-right: 3em;
    font-size: 2em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword i {
    top: 22%;
    right: 28%;
    font-size: 4vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) #submit {
    font-size: 3em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(4) {
    font-size: 2em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div {
    padding-top: 1%;
    border-radius: 1em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span {
    font-size: 2.5em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span i {
    margin-left: 5%;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) {
    margin-top: 8%;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) span {
    font-size: 1.4em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) a {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 576px) and (max-width: 991.98px) {
  .pageWrapper .chooseLang {
    font-size: 2.5em;
    top: 1em;
    right: 2em;
    padding: 0.2em 0.5em;
    border-radius: 1em;
  }
  .pageWrapper .chooseLang .langSeparate {
    color: #000000;
    padding: 0 0.2em;
  }
  .pageWrapper .infoWrapper .info {
    top: 35%;
    left: 10%;
    padding: 3%;
    width: 80vw;
  }
  .pageWrapper .infoWrapper .info span {
    font-size: 1.5em;
  }
  .pageWrapper .infoWrapper .info input[type=button] {
    margin: 10% 0 0 30%;
    padding: 1% 3%;
    width: 40%;
    font-size: 1.5em;
  }
  .pageWrapper .header {
    margin-top: 20%;
  }
  .pageWrapper .header .logo img {
    width: 16vw;
  }
  .pageWrapper .header .title span {
    font-size: 8em;
  }
  .pageWrapper .auth {
    margin-right: 20%;
  }
  .pageWrapper .auth .formWrapper {
    width: 80vw;
    border-radius: 1em;
  }
  .pageWrapper .auth .formWrapper .rect {
    border-radius: 1em 1em 0px 0px;
  }
  .pageWrapper .auth .formWrapper .rect .titleAuth {
    font-size: 2.5em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li {
    margin: 10% 2%;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(1) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(1) input[name=mail] {
    padding: 1.3em;
    font-size: 2em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword .circle {
    left: 40%;
    bottom: 95%;
    height: 7vw;
    width: 7vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword input[name=password] {
    padding: 1.3em;
    padding-right: 3em;
    font-size: 2em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword i {
    top: 22%;
    right: 28%;
    font-size: 4vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) #submit {
    font-size: 3em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(4) {
    font-size: 2em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div {
    padding-top: 1%;
    border-radius: 1em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span {
    font-size: 2.5em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span i {
    margin-left: 5%;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) {
    margin-top: 8%;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) span {
    font-size: 1.4em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) a {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .pageWrapper .chooseLang {
    font-size: 2.5em;
    top: 1em;
    right: 2em;
    padding: 0.2em 0.5em;
    border-radius: 1em;
  }
  .pageWrapper .chooseLang .langSeparate {
    color: #000000;
    padding: 0 0.2em;
  }
  .pageWrapper .infoWrapper .info {
    top: 35%;
    left: 10%;
    padding: 3%;
    width: 80vw;
  }
  .pageWrapper .infoWrapper .info span {
    font-size: 1.5em;
  }
  .pageWrapper .infoWrapper .info input[type=button] {
    margin: 10% 0 0 30%;
    padding: 1% 3%;
    width: 40%;
    font-size: 1.5em;
  }
  .pageWrapper .header {
    margin-top: 20%;
  }
  .pageWrapper .header .logo img {
    width: 16vw;
  }
  .pageWrapper .header .title span {
    font-size: 8em;
  }
  .pageWrapper .auth {
    margin-right: 20%;
  }
  .pageWrapper .auth .formWrapper {
    width: 80vw;
    border-radius: 1em;
  }
  .pageWrapper .auth .formWrapper .rect {
    border-radius: 1em 1em 0px 0px;
  }
  .pageWrapper .auth .formWrapper .rect .titleAuth {
    font-size: 2.5em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li {
    margin: 10% 2%;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(1) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(1) input[name=mail] {
    padding: 1.3em;
    font-size: 2em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword .circle {
    left: 40%;
    bottom: 95%;
    height: 7vw;
    width: 7vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword input[name=password] {
    padding: 1.3em;
    padding-right: 3em;
    font-size: 2em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword i {
    top: 22%;
    right: 28%;
    font-size: 4vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) #submit {
    font-size: 3em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(4) {
    font-size: 2em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) {
    height: 9vw;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div {
    padding-top: 1%;
    border-radius: 1em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span {
    font-size: 2.5em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span i {
    margin-left: 5%;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) {
    margin-top: 8%;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) span {
    font-size: 1.4em;
  }
  .pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) a {
    font-size: 1.4em;
  }
}