* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pageWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.pageWrapper .header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 50px;
}
.pageWrapper .header .logo {
  margin-top: 20px;
  margin-right: 40px;
}
.pageWrapper .header .logo img {
  width: 100px;
}
.pageWrapper .header .title span {
  font-family: circe, sans-serif;
  font-size: 100px;
  font-weight: bold;
}
.pageWrapper .auth {
  width: 50%;
}
.pageWrapper .auth .formWrapper {
  margin: 0 auto;
  width: 60%;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.pageWrapper .auth .formWrapper .rect {
  position: relative;
  height: 10%;
  border-radius: 25px 25px 0px 0px;
  background-color: #F26B6B;
  text-align: center;
}
.pageWrapper .auth .formWrapper .rect .titleAuth {
  display: block;
  padding-top: 1%;
  color: #FDFDFD;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: clamp(15px, 1.6em, 200px);
}
.pageWrapper .auth .formWrapper .contentForm ul {
  width: 90%;
  height: 100%;
  margin: 5%;
  list-style: none;
}
.pageWrapper .auth .formWrapper .contentForm ul li {
  text-align: center;
  margin: 30px 5px;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(1) {
  margin-bottom: 0px;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) {
  margin-top: 0px;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword {
  display: inline-block;
  position: relative;
  background-color: #c4c4c4;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 47px;
  left: 40%;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword i {
  position: relative;
  top: 10px;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword:hover {
  cursor: pointer;
  background-color: #b2b2b2;
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(2) .forgotPassword:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(4) {
  margin: 14px;
  color: #666666;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(15px, 1em, 200px);
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) {
  margin-top: 0;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div {
  display: inline-block;
  width: 50%;
  height: 45px;
  border-radius: 15px;
  background-color: #7C97F8;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span {
  display: block;
  margin-top: 3%;
  color: #f1f1f1;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(15px, 1.6em, 200px);
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div span i {
  margin-left: 5%;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div:hover {
  cursor: pointer;
  background-color: #6686F8;
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(5) div:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) {
  margin-bottom: 0;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) #submit {
  width: 50%;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: #F26B6B;
  color: #f8f8f8;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) #submit:hover {
  cursor: pointer;
  background-color: #F25959;
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(3) #submit:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) span {
  color: #616161;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}
.pageWrapper .auth .formWrapper .contentForm ul li:nth-child(6) a {
  margin-left: 5px;
  color: #616161;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}
.pageWrapper .auth .formWrapper .contentForm ul li input[name=mail],
.pageWrapper .auth .formWrapper .contentForm ul li input[name=password] {
  height: 57px;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  background: #EAEAEA;
  outline: none;
  border: none;
}
.pageWrapper .doc a {
  color: #ADADAD;
}
.pageWrapper .doc a:hover, .pageWrapper .doc a:active, .pageWrapper .doc a:visited {
  color: #ADADAD;
}