* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 2vw;
}

.pageWrapper {
    width: 100%;
    //    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .infoWrapper {
        display: none;
        position: absolute;
        height: 100%;
        width: 100vw;
        z-index: 2;

        &::before {
            content: '';
            background: #000;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            z-index: 3;
        }

        .info {
            position: relative;
            top: 35%;
            left: 35%;
            padding: 1%;
            width: 30vw;
            border-radius: 0.4em;
            background-color: rgba(242, 107, 107, 1);
            //            background-color: #C6FFAA;
            //            text-align: center;
            z-index: 3;

            span {
                color: #FFFFFF;
                //                color: #000000;
                font-family: circe, sans-serif;
                font-size: 0.5em;
                font-weight: bold;
            }

            input[type="button"] {
                margin: 10% 0 0 30%;
                padding: 1% 3%;
                width: 40%;
                border-radius: 0.4em;
                font-family: circe, sans-serif;
                font-size: 0.5em;
                border: none;
                outline: none;

                &:active,
                &:focus,
                &:hover {
                    border: none;
                    outline: none;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #E5E5E5;
                }
            }
        }
    }

    .header {
        margin-top: 4%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        //        margin-top: 2%;

        .logo {
            margin-top: 5%;
            margin-right: 5%;

            img {
                width: 5vw;
            }
        }

        .title {

            span {
                font-family: circe, sans-serif;
                font-size: 2.5em;
                font-weight: bold;
            }
        }
    }

    .signin {
        width: 60vw;

        .formWrapper {
            margin: 0 auto;
            width: 30vw;
            box-shadow: 0 0.8em 2.8em rgba(0, 0, 0, 0.25);
            border-radius: 0.4em;

            .rect {
                position: relative;
                //                height: 10%;
                border-radius: 0.4em 0.4em 0px 0px;
                background-color: #F26B6B;
                text-align: center;

                .titleAuth {
                    display: block;
                    padding-top: 1%;
                    color: #FDFDFD;
                    font-family: circe, sans-serif;
                    font-style: normal;
                    font-weight: 350;
                    font-size: 1em;
                }

            }

            .contentForm {

                ul {
                    //                    width: 90%;
                    //                    height: 100%;
                    margin: 5%;
                    list-style: none;
                    //                                        padding: 20px;

                    li {
                        text-align: center;
                        //                        height: 10%;
                        margin: 7% 2%;

                        .error ~ label {
                            font-family: Circe, sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 0.5em;
                            color: #FF3838;
                        }

                        &:nth-child(1) {
                            //                            height: 4vw;

                            input[name="mail"] {
                                height: 100%;
                                width: 100%;
                                border-radius: 0.4em;
                                padding: 0.8em;
                                font-family: Circe, sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 0.7em;
                                background: #EAEAEA;
                                outline: none;
                                border: none;
                            }
                        }

                        &:nth-child(2) {
                            //                            height: 4vw;
                            margin-bottom: 5%;

                            input[name="password"] {
                                height: 100%;
                                width: 100%;
                                border-radius: 0.4em;
                                padding: 0.8em;
                                font-family: Circe, sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 0.7em;
                                background: #EAEAEA;
                                outline: none;
                                border: none;
                            }

                            i {
                                position: relative;
                                float: right;
                                z-index: 1;
                                top: 25%;
                                right: 30%;
                                font-size: 1.5vw;
                                user-select: none;
                            }
                        }

                        &:nth-child(3) {
                            //                            height: 1vw;
                            margin: 0%;
                            color: #666666;
                            font-family: circe, sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 0.6em;

                            #checkbox {
                                position: absolute;
                                z-index: -1;
                                opacity: 0;
                            }

                            #checkbox + label {
                                display: inline-flex;
                                align-items: center;
                                user-select: none;

                                &::before {
                                    content: '';
                                    display: inline-block;
                                    width: 0.9em;
                                    height: 0.9em;
                                    flex-shrink: 0;
                                    flex-grow: 0;
                                    border: 0.1em solid #adb5bd;
                                    border-radius: 0.25em;
                                    margin-right: 0.5em;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: 50% 50%;
                                }
                            }

                            //                            вид чекбокса в состоянии checked
                            #checkbox:checked + label::before {
                                border-color: #0b76ef;
                                background-color: #0b76ef;
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                            }

                            #checkbox:checked + label:hover::before {
                                cursor: pointer;
                            }

                            //вид чекбокса при наведении
                            #checkbox:not(:disabled):not(:checked) + label:hover::before {
                                cursor: pointer;
                                border-color: #b3d7ff;
                            }

                            //стили для акивного состояния чекбокса (при нажатии на него)
                            #checkbox:not(:disabled):active + label::before {
                                background-color: #b3d7ff;
                                border-color: #b3d7ff;
                            }

                            a {
                                position: relative;
                                bottom: 0.35em;
                                margin-left: 2%;
                                color: #ADADAD;
                                font-size: 0.9em;

                                &:hover,
                                &:active,
                                &:visited {
                                    color: #ADADAD;
                                }

                            }
                        }

                        &:nth-child(4) {
                            margin: 3% 0;
                            //                            padding-bottom: 5%;
                            clear: both;

                            #submit {
                                width: 50%;
                                padding: 1%;
                                height: 60%;
                                outline: none;
                                border: none;
                                border-radius: 0.4em;
                                //                                background-color: #F26B6B;
                                color: #f8f8f8;
                                font-family: Circe, sans-serif;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 0.85em;
                                //                                padding: 1% 0;

                                &:hover {
                                    background-color: #F25959;
                                    transition: 0.3s;
                                }

                                &:not(:hover) {
                                    transition: 0.3s;
                                }

                            }
                        }

                        &:nth-child(5) {
                            margin-top: 0%;
                            padding-bottom: 0;

                            span {
                                color: #616161;
                                font-family: Circe, sans-serif;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 0.5em;
                            }

                            a {
                                margin-left: 1%;
                                color: #616161;
                                font-family: Circe, sans-serif;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 0.5em;
                            }
                        }
                    }
                }
            }
        }
    }
}

//phone
@media screen and (max-width: 575.98px) {
    .pageWrapper {

        .infoWrapper {
            .info {
                top: 35%;
                left: 10%;
                padding: 3%;
                width: 80vw;

                span {
                    font-size: 1.5em;
                }

                input[type="button"] {
                    margin: 10% 0 0 30%;
                    padding: 1% 3%;
                    width: 40%;
                    font-size: 1.5em;
                }
            }
        }

        .header {
            margin-top: 10%;

            .logo {

                img {
                    width: 16vw;
                }
            }

            .title {

                span {
                    font-size: 8em;
                    //                    color: red;
                }
            }
        }

        .signin {
            margin-right: 20%;

            .formWrapper {
                width: 80vw;
                border-radius: 1em;

                .rect {
                    border-radius: 1em 1em 0px 0px;

                    .titleAuth {
                        font-size: 2.5em;
                    }

                }

                .contentForm {
                    ul {

                        li {
                            margin: 10% 2%;

                            .error ~ label {
                                font-size: 0.8em;
                            }


                            &:nth-child(1) {
                                //                                height: 9vw;

                                input[name="mail"] {
                                    //                                    border-radius: 0.9em;
                                    padding: 0.7em;
                                    font-size: 2em;
                                }
                            }

                            &:nth-child(2) {
                                //                                height: 9vw;
                                margin-bottom: 8%;

                                input[name="password"] {
                                    padding: 0.7em;
                                    padding-right: 3em;
                                    font-size: 2em;
                                }

                                i {
                                    top: 22%;
                                    right: 28%;
                                    font-size: 4vw;
                                }

                            }

                            &:nth-child(3) {
                                //                                height: 9vw;
                                font-size: 1.7em;
                            }

                            &:nth-child(4) {
                                #submit {
                                    font-size: 2em;
                                }
                            }

                            &:nth-child(5) {
                                margin-top: 0%;

                                span {
                                    font-size: 1.4em;
                                }

                                a {
                                    font-size: 1.4em;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

//tablet
@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .pageWrapper {

        .infoWrapper {
            .info {
                top: 35%;
                left: 10%;
                padding: 3%;
                width: 80vw;

                span {
                    font-size: 1.5em;
                }

                input[type="button"] {
                    margin: 10% 0 0 30%;
                    padding: 1% 3%;
                    width: 40%;
                    font-size: 1.5em;
                }
            }
        }

        .header {
            margin-top: 10%;

            .logo {

                img {
                    width: 16vw;
                }
            }

            .title {

                span {
                    font-size: 8em;
                    //                    color: red;
                }
            }
        }

        .signin {
            margin-right: 20%;

            .formWrapper {
                width: 80vw;
                border-radius: 1em;

                .rect {
                    border-radius: 1em 1em 0px 0px;

                    .titleAuth {
                        font-size: 2.5em;
                    }

                }

                .contentForm {
                    ul {

                        li {
                            margin: 10% 2%;

                            .error ~ label {
                                font-size: 0.8em;
                            }


                            &:nth-child(1) {
                                //                                height: 9vw;

                                input[name="mail"] {
                                    //                                    border-radius: 0.9em;
                                    padding: 0.7em;
                                    font-size: 2em;
                                }
                            }

                            &:nth-child(2) {
                                //                                height: 9vw;
                                margin-bottom: 8%;

                                input[name="password"] {
                                    padding: 0.7em;
                                    padding-right: 3em;
                                    font-size: 2em;
                                }

                                i {
                                    top: 22%;
                                    right: 28%;
                                    font-size: 4vw;
                                }

                            }

                            &:nth-child(3) {
                                //                                height: 9vw;
                                font-size: 1.7em;
                            }

                            &:nth-child(4) {
                                #submit {
                                    font-size: 2em;
                                }
                            }

                            &:nth-child(5) {
                                margin-top: 0%;

                                span {
                                    font-size: 1.4em;
                                }

                                a {
                                    font-size: 1.4em;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

//tablet landscape
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .pageWrapper {

        .infoWrapper {
            .info {
                top: 35%;
                left: 10%;
                padding: 3%;
                width: 80vw;

                span {
                    font-size: 1.5em;
                }

                input[type="button"] {
                    margin: 10% 0 0 30%;
                    padding: 1% 3%;
                    width: 40%;
                    font-size: 1.5em;
                }
            }
        }

        .header {
            margin-top: 10%;

            .logo {

                img {
                    width: 16vw;
                }
            }

            .title {

                span {
                    font-size: 8em;
                    //                    color: red;
                }
            }
        }

        .signin {
            margin-right: 20%;

            .formWrapper {
                width: 80vw;
                border-radius: 1em;

                .rect {
                    border-radius: 1em 1em 0px 0px;

                    .titleAuth {
                        font-size: 2.5em;
                    }

                }

                .contentForm {
                    ul {

                        li {
                            margin: 10% 2%;

                            .error ~ label {
                                font-size: 0.8em;
                            }


                            &:nth-child(1) {
                                //                                height: 9vw;

                                input[name="mail"] {
                                    //                                    border-radius: 0.9em;
                                    padding: 0.7em;
                                    font-size: 2em;
                                }
                            }

                            &:nth-child(2) {
                                //                                height: 9vw;
                                margin-bottom: 8%;

                                input[name="password"] {
                                    padding: 0.7em;
                                    padding-right: 3em;
                                    font-size: 2em;
                                }

                                i {
                                    top: 22%;
                                    right: 28%;
                                    font-size: 4vw;
                                }

                            }

                            &:nth-child(3) {
                                //                                height: 9vw;
                                font-size: 1.7em;
                            }

                            &:nth-child(4) {
                                #submit {
                                    font-size: 2em;
                                }
                            }

                            &:nth-child(5) {
                                margin-top: 0%;

                                span {
                                    font-size: 1.4em;
                                }

                                a {
                                    font-size: 1.4em;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

//@media screen and (min-width: 1200px) and (max-width: 1380.98px) {
//    .pageWrapper {
//        .header {
//            margin-top: 10%;
//
//            .logo {
//
//                img {
//                    width: 16vw;
//                }
//            }
//
//            .title {
//
//                span {
//                    font-size: 8em;
//                    //                    color: red;
//                }
//            }
//        }
//
//        .signin {
//            margin-right: 20%;
//
//            .formWrapper {
//                width: 80vw;
//                border-radius: 1em;
//
//                .rect {
//                    border-radius: 1em 1em 0px 0px;
//
//                    .titleAuth {
//                        font-size: 2.5em;
//                    }
//
//                }
//
//                .contentForm {
//                    ul {
//
//                        li {
//                            margin: 10% 2%;
//
//
//                            &:nth-child(1) {
//                                height: 9vw;
//
//                                input[name="mail"] {
//                                    //                                    border-radius: 0.9em;
//                                    padding: 1.3em;
//                                    font-size: 2em;
//                                }
//                            }
//
//                            &:nth-child(2) {
//                                height: 9vw;
//                                margin-bottom: 8%;
//
//                                input[name="password"] {
//                                    padding: 1.3em;
//                                    padding-right: 3em;
//                                    font-size: 2em;
//                                }
//
//                                i {
//                                    top: 22%;
//                                    right: 28%;
//                                    font-size: 4vw;
//                                }
//
//                            }
//
//                            &:nth-child(3) {
//                                //                                height: 9vw;
//                                font-size: 1.7em;
//                            }
//
//                            &:nth-child(4) {
//                                height: 13vw;
//
//                                #submit {
//                                    font-size: 2em;
//                                }
//                            }
//
//                        }
//                    }
//                }
//            }
//        }
//    }
//}

//landscape

@media screen and (max-width: 653.98px) and (max-height: 280px) {}

//landscape
@media screen and (max-width: 575.98px) and (max-height: 360.98px) {}

@media screen and (min-width: 576px) and (max-width: 896.98px) and (min-height: 359.98px) and (max-height: 540px) {}
