@keyframes loader {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(-225deg);
  }
}
@keyframes span-1 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-3.5em, 0);
    border-color: #EE4D68;
  }
  100% {
    transform: translate(0);
  }
}
@keyframes span-2 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(3.5em, 0);
    border-color: #875678;
  }
  100% {
    transform: translate(0);
  }
}
@keyframes span-3 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, -3.5em);
    border-color: #FF9900;
  }
  100% {
    transform: translate(0);
  }
}
@keyframes span-4 {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, 3.5em);
    border-color: #00E4F6;
  }
  100% {
    transform: translate(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 2vw;
  overflow-x: hidden;
}

.loaderWrapper {
  display: none;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 2;
}
.loaderWrapper::before {
  content: "";
  background: #FFFFFF;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 5;
}
.loaderWrapper .loader {
  width: 3.5em;
  height: 3.5em;
  position: fixed;
  left: 45%;
  top: 40%;
  animation: loader 2s infinite ease-in-out;
  z-index: 6;
}
.loaderWrapper .wait {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 70%;
  z-index: 7;
}
.loaderWrapper .wait span {
  font-family: circe, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
.loaderWrapper .loader span {
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  left: 0;
  top: 0;
  border: 0.2em solid #0B1B48;
  border-radius: 0.2em;
}
.loaderWrapper .loader span:nth-child(1) {
  animation: span-1 2s ease-in-out infinite;
}
.loaderWrapper .loader span:nth-child(2) {
  animation: span-2 2s ease-in-out infinite;
}
.loaderWrapper .loader span:nth-child(3) {
  animation: span-3 2s ease-in-out infinite;
}
.loaderWrapper .loader span:nth-child(4) {
  animation: span-4 2s ease-in-out infinite;
}

.pageWrapper {
  height: 100%;
  display: none;
  flex-direction: row;
}
.pageWrapper .infoWrapper {
  display: none;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 2;
}
.pageWrapper .infoWrapper::before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 5;
}
.pageWrapper .infoWrapper .card {
  position: fixed;
  top: 21%;
  left: 35%;
  width: 30vw;
  border-radius: 0.4em;
  background-color: #FFFFFF;
  z-index: 5;
}
.pageWrapper .infoWrapper .card .emptyWrapper {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15.5em;
}
.pageWrapper .infoWrapper .card .emptyWrapper .empty {
  width: 100%;
  text-align: center;
  padding: 0.3em 1em;
  border-radius: 0.4em;
  border: 0.01em solid #FF3B45;
  background-color: #FFFFFF;
}
.pageWrapper .infoWrapper .card .emptyWrapper .empty span {
  color: #000000;
  font-family: circe, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.01em;
}
.pageWrapper .infoWrapper .card .rect {
  position: relative;
  height: 1.5em;
  border-radius: 0.4em 0.4em 0 0;
  background-color: #292929;
  text-align: center;
}
.pageWrapper .infoWrapper .card .rect .titleCard {
  padding: 1em;
  float: left;
  color: #FFFFFF;
  font-family: circe, sans-serif;
  font-size: 0.5em;
  font-weight: bold;
}
.pageWrapper .infoWrapper .card .rect #close {
  margin: 1em;
  float: right;
  color: #FFFFFF;
  font-family: circe, sans-serif;
  font-size: 0.5em;
  font-weight: bold;
}
.pageWrapper .infoWrapper .card .rect #close:hover {
  cursor: pointer;
}
.pageWrapper .infoWrapper .card .formWrapper {
  display: none;
  clear: both;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) input {
  padding-left: 6em;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) .selectWrapper {
  position: absolute;
  top: 6.1em;
  z-index: 1;
  font-family: circe, sans-serif;
  font-style: normal;
  font-weight: bold;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) .selectWrapper .select {
  width: 5em;
  margin: 0.5em 0.5em;
  position: relative;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) .selectWrapper .select.is-active .select__body {
  display: block;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) .selectWrapper .select .select__header {
  display: flex;
  cursor: pointer;
  background-color: #D8D8D8;
  border-radius: 0.2em;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) .selectWrapper .select .select__header .select__current {
  font-size: 1em;
  line-height: 2em;
  padding: 0.1em 0.2em;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) .selectWrapper .select .select__header .select__icon {
  margin-left: auto;
  margin-top: 1.4em;
  margin-right: 0.5em;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 1em;
  text-align: center;
  width: 1em;
  font-size: 0.6em;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) .selectWrapper .select .select__body {
  display: none;
  border-radius: 0.2em;
  border-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) .selectWrapper .select .select__body .select__item {
  line-height: 1em;
  padding: 0.2em;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #f2f2f2;
}
.pageWrapper .infoWrapper .card .formWrapper #formAddURL .form li:nth-child(1) .selectWrapper .select .select__body .select__item:hover {
  background-color: #D2D2D2;
}
.pageWrapper .infoWrapper .card .formWrapper ul {
  list-style: none;
  font-family: circe, sans-serif;
  font-size: 0.5em;
}
.pageWrapper .infoWrapper .card .formWrapper ul .error ~ label {
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #FF3838;
}
.pageWrapper .infoWrapper .card .formWrapper ul li {
  margin: 5% 5%;
}
.pageWrapper .infoWrapper .card .formWrapper ul li:nth-child(1) {
  margin-top: 5%;
}
.pageWrapper .infoWrapper .card .formWrapper ul li:nth-child(4) {
  text-align: center;
}
.pageWrapper .infoWrapper .card .formWrapper #Save {
  width: 30%;
  padding: 0.25em;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0.4em;
  background-color: #F26B6B;
  color: #f8f8f8;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
}
.pageWrapper .infoWrapper .card .formWrapper #Save:hover {
  cursor: pointer;
  background-color: #F25959;
  transition: 0.3s;
}
.pageWrapper .infoWrapper .card .formWrapper #Save:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .infoWrapper .card input[type=text] {
  height: 100%;
  width: 100%;
  border-radius: 0.4em;
  padding: 1em;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  background: #EAEAEA;
  outline: none;
  border: none;
}
.pageWrapper .infoWrapper .card .infoDeletingWrapper {
  padding: 0.8em 1em 1em 1em;
  text-align: center;
  clear: both;
}
.pageWrapper .infoWrapper .card .infoDeletingWrapper span {
  font-family: circe, sans-serif;
  font-size: 0.6em;
  font-weight: bold;
}
.pageWrapper .infoWrapper .card .infoDeletingWrapper .answers {
  margin-top: 0.8em;
}
.pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes {
  margin-right: 0.5em;
  padding: 0.4em 0;
  width: 20%;
  outline: none;
  border: none;
  border-radius: 0.4em;
  background-color: #292929;
  color: #f8f8f8;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.6em;
}
.pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes:hover {
  cursor: pointer;
  background-color: #474747;
  transition: 0.3s;
}
.pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel {
  margin-left: 0.5em;
  padding: 0.4em 0;
  width: 20%;
  outline: none;
  border: none;
  border-radius: 0.4em;
  background-color: #989898;
  color: #f8f8f8;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.6em;
}
.pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel:hover {
  cursor: pointer;
  background-color: #BDBDBD;
  transition: 0.3s;
}
.pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .sidebar {
  position: fixed;
  height: 100vh;
  background-color: #FFFFFF;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pageWrapper .sidebar .logo {
  width: 2em;
  height: 30%;
  text-align: center;
}
.pageWrapper .sidebar .logo img {
  margin-top: 50%;
  width: 1.5em;
}
.pageWrapper .sidebar .navbar {
  text-align: center;
}
.pageWrapper .sidebar .navbar ul {
  list-style: none;
}
.pageWrapper .sidebar .navbar ul li {
  padding: 60% 0;
  font-size: 0.7em;
}
.pageWrapper .sidebar .navbar ul li i {
  transition: 0.3s;
}
.pageWrapper .sidebar .navbar ul li i:hover {
  cursor: pointer;
  color: #F98181;
  transition: 0.3s;
}
.pageWrapper .sidebar .navbar ul li:nth-child(4) {
  color: #F98181;
}
.pageWrapper .sidebar .mobileExit {
  display: none;
  text-align: center;
  margin-top: 90%;
}
.pageWrapper .sidebar .mobileExit svg {
  padding: 5%;
  border-radius: 0.2em;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.6);
}
.pageWrapper .main {
  margin-left: 2.5em;
  display: flex;
  flex-direction: column;
}
.pageWrapper .main .head {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pageWrapper .main .head .title {
  width: 100%;
  padding-top: 2%;
  padding-left: 4%;
}
.pageWrapper .main .head .title span {
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.7em;
}
.pageWrapper .main .head .exit {
  width: 100%;
}
.pageWrapper .main .head .exit .accountCard {
  display: inline-block;
  margin: 7% 0 0 44%;
  padding: 0.1em 1.4em;
  border-radius: 0.4em;
  box-shadow: 0px 0.1em 0.8em rgba(0, 0, 0, 0.25);
}
.pageWrapper .main .head .exit .accountCard span {
  position: relative;
  bottom: 0.2em;
  right: 0.5em;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.7em;
}
.pageWrapper .main .head .exit .accountCard svg {
  position: relative;
  top: 0.15em;
  left: 0.7em;
  width: 1em;
  height: 1em;
}
.pageWrapper .main .head .exit .accountCard svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}
.pageWrapper .main .head .exit .accountCard svg:hover {
  cursor: pointer;
  fill: #F98181;
  transition: 0.3s;
}
.pageWrapper .main .head .exit .accountCard svg:not(:hover) {
  fill: #000000;
  transition: 0.3s;
}
.pageWrapper .main .settigsBlock {
  margin-top: 2em;
  padding: 1em 0 1em 1.5em;
  margin-right: 2%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 14em 14em 14em;
  grid-gap: 1em 1em;
}
.pageWrapper .main .settigsBlock .settings {
  grid-column-start: 1;
  grid-column-end: 3;
}
.pageWrapper .main .settigsBlock .settings ul {
  list-style: none;
}
.pageWrapper .main .settigsBlock .settings ul li {
  padding: 1em 1em 0.2em 1em;
  list-style: none;
  border-bottom: 0.01em solid #D0D0D0;
  font-family: circe, sans-serif;
}
.pageWrapper .main .settigsBlock .settings ul li .changeLanguage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.pageWrapper .main .settigsBlock .settings ul li .changeLanguage .chooseLang {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: circe, sans-serif;
  font-size: 1.2em;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  -webkit-user-select: none;
          user-select: none;
  color: #B4B4B4;
}
.pageWrapper .main .settigsBlock .settings ul li .changeLanguage .chooseLang .translate label {
  cursor: pointer;
}
.pageWrapper .main .settigsBlock .settings ul li .changeLanguage .chooseLang .translate input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.pageWrapper .main .settigsBlock .settings ul li .changeLanguage .chooseLang .translate input:checked + label {
  color: #000000;
}
.pageWrapper .main .settigsBlock .settings ul li .changeLanguage .chooseLang .langSeparate {
  color: #000000;
  padding: 0 0.2em;
}
.pageWrapper .main .settigsBlock .settings ul li .titleOption {
  font-size: 0.8em;
}
.pageWrapper .main .settigsBlock .settings ul li span {
  display: block;
  font-size: 0.5em;
}
.pageWrapper .main .settigsBlock .settings ul li span a {
  color: #182CEF;
}
.pageWrapper .main .settigsBlock .settings ul li span a:active, .pageWrapper .main .settigsBlock .settings ul li span a:visited {
  color: #182CEF;
}
.pageWrapper .main .settigsBlock .addServerWrapper {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver {
  width: 100%;
  background-color: #221F1F;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: circe, sans-serif;
  color: #FFFFFF;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .titleAddServer {
  padding-top: 0.5em;
  text-align: center;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .titleAddServer span {
  font-size: 1.3em;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers {
  list-style: none;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul {
  padding: 0.5em 1em 1em 1em;
  list-style-type: none;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul li {
  width: 100%;
  padding: 1em 0.7em 0.2em 0;
  font-size: 0.8em;
  font-family: circe, sans-serif;
  border-bottom: 0.05em solid #e1e1e1;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul li .nameServer {
  padding-left: 0.4em;
  color: #FFFFFF;
  -webkit-user-select: none;
          user-select: none;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul li .trashIcon {
  float: right;
  color: #A7A7A7;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul li .trashIcon:hover {
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul li .trashIcon:not(:hover) {
  color: #A7A7A7;
  transition: 0.3s;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper {
  padding-bottom: 1em;
  text-align: center;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper #addNewServer {
  width: 50%;
  padding: 0.2em 0.5em;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0.4em;
  background-color: #4A4A4A;
  color: #ffffff;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85em;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper #addNewServer:hover {
  cursor: pointer;
  background-color: #636363;
  transition: 0.3s;
}
.pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper #addNewServer:not(:hover) {
  transition: 0.3s;
}
.pageWrapper .main .settigsBlock .addURLWrapper {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL {
  width: 100%;
  background-color: #221F1F;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: circe, sans-serif;
  color: #FFFFFF;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .titleAddURL {
  padding-top: 0.5em;
  text-align: center;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .titleAddURL span {
  font-size: 1.3em;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .URL {
  list-style: none;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .URL ul {
  padding: 0.5em 1em 1em 1em;
  list-style-type: none;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .URL ul li {
  width: 100%;
  padding: 1em 0.7em 0.2em 0;
  font-size: 0.8em;
  font-family: circe, sans-serif;
  border-bottom: 0.05em solid #e1e1e1;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .URL ul li .nameURL {
  padding-left: 0.4em;
  color: #FFFFFF;
  -webkit-user-select: none;
          user-select: none;
  font-size: 0.8em;
  outline: none;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .URL ul li .trashIcon_URL {
  float: right;
  color: #A7A7A7;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .URL ul li .trashIcon_URL:hover {
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .URL ul li .trashIcon_URL:not(:hover) {
  color: #A7A7A7;
  transition: 0.3s;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .addURLButtonWrapper {
  padding-bottom: 1em;
  text-align: center;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .addURLButtonWrapper #addNewURL {
  width: 50%;
  padding: 0.2em 0.5em;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0.4em;
  background-color: #4A4A4A;
  color: #ffffff;
  font-family: Circe, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85em;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .addURLButtonWrapper #addNewURL:hover {
  cursor: pointer;
  background-color: #636363;
  transition: 0.3s;
}
.pageWrapper .main .settigsBlock .addURLWrapper .addURL .addURLButtonWrapper #addNewURL:not(:hover) {
  transition: 0.3s;
}

@media screen and (max-width: 575.98px) {
  .pageWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pageWrapper .infoWrapper {
    display: none;
    position: absolute;
    right: 20vw;
    top: 10%;
    height: 100%;
    width: 100vw;
    z-index: 2;
  }
  .pageWrapper .infoWrapper::before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 5;
  }
  .pageWrapper .infoWrapper .card {
    position: relative;
    top: 10%;
    left: 35%;
    width: 70vw;
    border-radius: 1.5em;
    background-color: #FFFFFF;
    z-index: 5;
  }
  .pageWrapper .infoWrapper .card .emptyWrapper {
    display: none;
    position: absolute;
    left: 8em;
    bottom: 0vw;
    top: 83vw;
  }
  .pageWrapper .infoWrapper .card .emptyWrapper .empty {
    padding: 0.8em 2em;
    border-radius: 0.4em;
    border: 0.01em solid #FF3B45;
    display: inline;
    background-color: #FFFFFF;
  }
  .pageWrapper .infoWrapper .card .emptyWrapper .empty span {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.01em;
  }
  .pageWrapper .infoWrapper .card .rect {
    position: relative;
    height: 4em;
    border-radius: 1.5em 1.5em 0 0;
    background-color: #292929;
    text-align: center;
  }
  .pageWrapper .infoWrapper .card .rect .titleCard {
    padding: 0.3em 0.7em;
    float: left;
    color: #FFFFFF;
    font-family: circe, sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  .pageWrapper .infoWrapper .card .rect #close {
    margin: 0.3em 1em 0 0;
    float: right;
    color: #FFFFFF;
    font-family: circe, sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  .pageWrapper .infoWrapper .card .rect #close:hover {
    cursor: pointer;
  }
  .pageWrapper .infoWrapper .card .formWrapper {
    display: none;
    clear: both;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul {
    list-style: none;
    font-family: circe, sans-serif;
    font-size: 1.5em;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul li {
    margin: 5% 5%;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul li:nth-child(1) {
    margin-top: 5%;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul li:nth-child(4) {
    text-align: center;
    height: 15vw;
    padding-bottom: 8%;
  }
  .pageWrapper .infoWrapper .card .formWrapper #Save {
    width: 30%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background-color: #F26B6B;
    color: #f8f8f8;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
  }
  .pageWrapper .infoWrapper .card .formWrapper #Save:hover {
    cursor: pointer;
    background-color: #F25959;
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .formWrapper #Save:not(:hover) {
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card input[type=text] {
    height: 100%;
    width: 100%;
    border-radius: 0.4em;
    padding: 1em;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    background: #EAEAEA;
    outline: none;
    border: none;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper {
    padding: 2em;
    text-align: center;
    clear: both;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper span {
    font-family: circe, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers {
    margin-top: 0.8em;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes {
    margin-right: 0.5em;
    padding: 0.4em 0;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background-color: #292929;
    color: #f8f8f8;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes:hover {
    cursor: pointer;
    background-color: #474747;
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes:not(:hover) {
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel {
    margin-left: 0.5em;
    padding: 0.4em 0;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background-color: #989898;
    color: #f8f8f8;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel:hover {
    cursor: pointer;
    background-color: #BDBDBD;
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel:not(:hover) {
    transition: 0.3s;
  }
  .pageWrapper .sidebar {
    position: inherit;
    height: 9vw;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .pageWrapper .sidebar .logo {
    margin-left: 2em;
    width: 2em;
    height: 30%;
    text-align: center;
  }
  .pageWrapper .sidebar .logo img {
    margin-top: 25%;
    width: 4em;
  }
  .pageWrapper .sidebar .navbar {
    text-align: center;
  }
  .pageWrapper .sidebar .navbar ul {
    margin-top: 1em;
    list-style: none;
  }
  .pageWrapper .sidebar .navbar ul li {
    display: inline-block;
    padding: 0 1em;
    font-size: 2em;
  }
  .pageWrapper .sidebar .navbar ul li:nth-child(2) {
    display: none;
  }
  .pageWrapper .sidebar .navbar ul li:nth-child(3) {
    display: none;
  }
  .pageWrapper .sidebar .navbar ul li:nth-child(4) {
    color: #F98181;
  }
  .pageWrapper .sidebar .mobileExit {
    display: block;
    text-align: center;
    margin-right: 5%;
    margin-top: 2%;
  }
  .pageWrapper .sidebar .mobileExit svg {
    width: 2.5em;
    height: 2.5em;
    padding: 5%;
    border-radius: 0.4em;
    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.6);
  }
  .pageWrapper .main {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .pageWrapper .main .head {
    width: 100%;
    display: block;
    text-align: center;
  }
  .pageWrapper .main .head .title {
    width: 100%;
    padding-top: 2%;
    padding-left: 0;
  }
  .pageWrapper .main .head .title span {
    font-weight: bold;
    font-size: 3em;
  }
  .pageWrapper .main .head .exit {
    display: none;
  }
  .pageWrapper .main .settigsBlock {
    padding: 0 5em 1em 5em;
    margin-top: 0;
    margin-right: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pageWrapper .main .settigsBlock .settings {
    margin-bottom: 1em;
  }
  .pageWrapper .main .settigsBlock .settings ul li .titleOption {
    font-size: 2.2em;
  }
  .pageWrapper .main .settigsBlock .settings ul li span {
    font-size: 1.4em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper {
    margin: 0 4em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver {
    width: 100%;
    border-radius: 1.5em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .titleAddServer {
    padding-top: 0.5em;
    text-align: center;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .titleAddServer span {
    font-size: 3em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul {
    padding: 0.5em 1em 1em 1em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul li {
    width: 100%;
    padding: 1em 0.7em 0.2em 0;
    font-size: 2em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper {
    height: 10vw;
    margin: 2em 0;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper #addNew {
    margin-bottom: 1em;
    width: 50%;
    padding: 0.2em 0.5em;
    border-radius: 1.5em;
    font-size: 2em;
  }
}
@media screen and (min-width: 576px) and (max-width: 991.98px) {
  .pageWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pageWrapper .infoWrapper {
    display: none;
    position: absolute;
    right: 20vw;
    top: 10%;
    height: 100%;
    width: 100vw;
    z-index: 2;
  }
  .pageWrapper .infoWrapper::before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 5;
  }
  .pageWrapper .infoWrapper .card {
    position: relative;
    top: 10%;
    left: 35%;
    width: 70vw;
    border-radius: 1.5em;
    background-color: #FFFFFF;
    z-index: 5;
  }
  .pageWrapper .infoWrapper .card .emptyWrapper {
    display: none;
    position: absolute;
    left: 8em;
    bottom: 0vw;
    top: 83vw;
  }
  .pageWrapper .infoWrapper .card .emptyWrapper .empty {
    padding: 0.8em 2em;
    border-radius: 0.4em;
    border: 0.01em solid #FF3B45;
    display: inline;
    background-color: #FFFFFF;
  }
  .pageWrapper .infoWrapper .card .emptyWrapper .empty span {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.01em;
  }
  .pageWrapper .infoWrapper .card .rect {
    position: relative;
    height: 4em;
    border-radius: 1.5em 1.5em 0 0;
    background-color: #292929;
    text-align: center;
  }
  .pageWrapper .infoWrapper .card .rect .titleCard {
    padding: 0.3em 0.7em;
    float: left;
    color: #FFFFFF;
    font-family: circe, sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  .pageWrapper .infoWrapper .card .rect #close {
    margin: 0.3em 1em 0 0;
    float: right;
    color: #FFFFFF;
    font-family: circe, sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  .pageWrapper .infoWrapper .card .rect #close:hover {
    cursor: pointer;
  }
  .pageWrapper .infoWrapper .card .formWrapper {
    display: none;
    clear: both;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul {
    list-style: none;
    font-family: circe, sans-serif;
    font-size: 1.5em;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul li {
    margin: 5% 5%;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul li:nth-child(1) {
    margin-top: 5%;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul li:nth-child(4) {
    text-align: center;
    height: 15vw;
    padding-bottom: 8%;
  }
  .pageWrapper .infoWrapper .card .formWrapper #Save {
    width: 30%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background-color: #F26B6B;
    color: #f8f8f8;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
  }
  .pageWrapper .infoWrapper .card .formWrapper #Save:hover {
    cursor: pointer;
    background-color: #F25959;
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .formWrapper #Save:not(:hover) {
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card input[type=text] {
    height: 100%;
    width: 100%;
    border-radius: 0.4em;
    padding: 1em;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    background: #EAEAEA;
    outline: none;
    border: none;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper {
    padding: 2em;
    text-align: center;
    clear: both;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper span {
    font-family: circe, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers {
    margin-top: 0.8em;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes {
    margin-right: 0.5em;
    padding: 0.4em 0;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background-color: #292929;
    color: #f8f8f8;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes:hover {
    cursor: pointer;
    background-color: #474747;
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes:not(:hover) {
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel {
    margin-left: 0.5em;
    padding: 0.4em 0;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background-color: #989898;
    color: #f8f8f8;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel:hover {
    cursor: pointer;
    background-color: #BDBDBD;
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel:not(:hover) {
    transition: 0.3s;
  }
  .pageWrapper .sidebar {
    position: inherit;
    height: 9vw;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .pageWrapper .sidebar .logo {
    margin-left: 2em;
    width: 2em;
    height: 30%;
    text-align: center;
  }
  .pageWrapper .sidebar .logo img {
    margin-top: 25%;
    width: 4em;
  }
  .pageWrapper .sidebar .navbar {
    text-align: center;
  }
  .pageWrapper .sidebar .navbar ul {
    margin-top: 1em;
    list-style: none;
  }
  .pageWrapper .sidebar .navbar ul li {
    display: inline-block;
    padding: 0 1em;
    font-size: 2em;
  }
  .pageWrapper .sidebar .navbar ul li:nth-child(2) {
    display: none;
  }
  .pageWrapper .sidebar .navbar ul li:nth-child(3) {
    display: none;
  }
  .pageWrapper .sidebar .navbar ul li:nth-child(4) {
    color: #F98181;
  }
  .pageWrapper .sidebar .mobileExit {
    display: block;
    text-align: center;
    margin-right: 5%;
    margin-top: 2%;
  }
  .pageWrapper .sidebar .mobileExit svg {
    width: 2.5em;
    height: 2.5em;
    padding: 5%;
    border-radius: 0.4em;
    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.6);
  }
  .pageWrapper .main {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .pageWrapper .main .head {
    width: 100%;
    display: block;
    text-align: center;
  }
  .pageWrapper .main .head .title {
    width: 100%;
    padding-top: 2%;
    padding-left: 0;
  }
  .pageWrapper .main .head .title span {
    font-weight: bold;
    font-size: 3em;
  }
  .pageWrapper .main .head .exit {
    display: none;
  }
  .pageWrapper .main .settigsBlock {
    padding: 0 5em 1em 5em;
    margin-top: 0;
    margin-right: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pageWrapper .main .settigsBlock .settings {
    margin-bottom: 1em;
  }
  .pageWrapper .main .settigsBlock .settings ul li .titleOption {
    font-size: 2.2em;
  }
  .pageWrapper .main .settigsBlock .settings ul li span {
    font-size: 1.4em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper {
    margin: 0 4em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver {
    width: 100%;
    border-radius: 1.5em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .titleAddServer {
    padding-top: 0.5em;
    text-align: center;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .titleAddServer span {
    font-size: 3em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul {
    padding: 0.5em 1em 1em 1em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul li {
    width: 100%;
    padding: 1em 0.7em 0.2em 0;
    font-size: 2em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper {
    height: 10vw;
    margin: 2em 0;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper #addNew {
    margin-bottom: 1em;
    width: 50%;
    padding: 0.2em 0.5em;
    border-radius: 1.5em;
    font-size: 2em;
  }
}
@media screen and (min-width: 992px) and (max-width: 1030.98px) {
  .pageWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pageWrapper .infoWrapper {
    display: none;
    position: absolute;
    right: 20vw;
    top: 10%;
    height: 100%;
    width: 100vw;
    z-index: 2;
  }
  .pageWrapper .infoWrapper::before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 5;
  }
  .pageWrapper .infoWrapper .card {
    position: relative;
    top: 10%;
    left: 35%;
    width: 70vw;
    border-radius: 1.5em;
    background-color: #FFFFFF;
    z-index: 5;
  }
  .pageWrapper .infoWrapper .card .emptyWrapper {
    display: none;
    position: absolute;
    left: 8em;
    bottom: 0vw;
    top: 83vw;
  }
  .pageWrapper .infoWrapper .card .emptyWrapper .empty {
    padding: 0.8em 2em;
    border-radius: 0.4em;
    border: 0.01em solid #FF3B45;
    display: inline;
    background-color: #FFFFFF;
  }
  .pageWrapper .infoWrapper .card .emptyWrapper .empty span {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.01em;
  }
  .pageWrapper .infoWrapper .card .rect {
    position: relative;
    height: 4em;
    border-radius: 1.5em 1.5em 0 0;
    background-color: #292929;
    text-align: center;
  }
  .pageWrapper .infoWrapper .card .rect .titleCard {
    padding: 0.3em 0.7em;
    float: left;
    color: #FFFFFF;
    font-family: circe, sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  .pageWrapper .infoWrapper .card .rect #close {
    margin: 0.3em 1em 0 0;
    float: right;
    color: #FFFFFF;
    font-family: circe, sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  .pageWrapper .infoWrapper .card .rect #close:hover {
    cursor: pointer;
  }
  .pageWrapper .infoWrapper .card .formWrapper {
    display: none;
    clear: both;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul {
    list-style: none;
    font-family: circe, sans-serif;
    font-size: 1.5em;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul li {
    margin: 5% 5%;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul li:nth-child(1) {
    margin-top: 5%;
  }
  .pageWrapper .infoWrapper .card .formWrapper ul li:nth-child(4) {
    text-align: center;
    height: 15vw;
    padding-bottom: 8%;
  }
  .pageWrapper .infoWrapper .card .formWrapper #Save {
    width: 30%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background-color: #F26B6B;
    color: #f8f8f8;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
  }
  .pageWrapper .infoWrapper .card .formWrapper #Save:hover {
    cursor: pointer;
    background-color: #F25959;
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .formWrapper #Save:not(:hover) {
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card input[type=text] {
    height: 100%;
    width: 100%;
    border-radius: 0.4em;
    padding: 1em;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    background: #EAEAEA;
    outline: none;
    border: none;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper {
    padding: 2em;
    text-align: center;
    clear: both;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper span {
    font-family: circe, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers {
    margin-top: 0.8em;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes {
    margin-right: 0.5em;
    padding: 0.4em 0;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background-color: #292929;
    color: #f8f8f8;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes:hover {
    cursor: pointer;
    background-color: #474747;
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Yes:not(:hover) {
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel {
    margin-left: 0.5em;
    padding: 0.4em 0;
    width: 30%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background-color: #989898;
    color: #f8f8f8;
    font-family: Circe, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel:hover {
    cursor: pointer;
    background-color: #BDBDBD;
    transition: 0.3s;
  }
  .pageWrapper .infoWrapper .card .infoDeletingWrapper .answers #Cancel:not(:hover) {
    transition: 0.3s;
  }
  .pageWrapper .sidebar {
    position: inherit;
    height: 9vw;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .pageWrapper .sidebar .logo {
    margin-left: 2em;
    width: 2em;
    height: 30%;
    text-align: center;
  }
  .pageWrapper .sidebar .logo img {
    margin-top: 25%;
    width: 4em;
  }
  .pageWrapper .sidebar .navbar {
    text-align: center;
  }
  .pageWrapper .sidebar .navbar ul {
    margin-top: 1em;
    list-style: none;
  }
  .pageWrapper .sidebar .navbar ul li {
    display: inline-block;
    padding: 0 1em;
    font-size: 2em;
  }
  .pageWrapper .sidebar .navbar ul li:nth-child(2) {
    display: none;
  }
  .pageWrapper .sidebar .navbar ul li:nth-child(3) {
    display: none;
  }
  .pageWrapper .sidebar .navbar ul li:nth-child(4) {
    color: #F98181;
  }
  .pageWrapper .sidebar .mobileExit {
    display: block;
    text-align: center;
    margin-right: 5%;
    margin-top: 2%;
  }
  .pageWrapper .sidebar .mobileExit svg {
    width: 2.5em;
    height: 2.5em;
    padding: 5%;
    border-radius: 0.4em;
    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.6);
  }
  .pageWrapper .main {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .pageWrapper .main .head {
    width: 100%;
    display: block;
    text-align: center;
  }
  .pageWrapper .main .head .title {
    width: 100%;
    padding-top: 2%;
    padding-left: 0;
  }
  .pageWrapper .main .head .title span {
    font-weight: bold;
    font-size: 3em;
  }
  .pageWrapper .main .head .exit {
    display: none;
  }
  .pageWrapper .main .settigsBlock {
    padding: 0 5em 1em 5em;
    margin-top: 0;
    margin-right: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pageWrapper .main .settigsBlock .settings {
    margin-bottom: 1em;
  }
  .pageWrapper .main .settigsBlock .settings ul li .titleOption {
    font-size: 2.2em;
  }
  .pageWrapper .main .settigsBlock .settings ul li span {
    font-size: 1.4em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper {
    margin: 0 4em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver {
    width: 100%;
    border-radius: 1.5em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .titleAddServer {
    padding-top: 0.5em;
    text-align: center;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .titleAddServer span {
    font-size: 3em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul {
    padding: 0.5em 1em 1em 1em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .servers ul li {
    width: 100%;
    padding: 1em 0.7em 0.2em 0;
    font-size: 2em;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper {
    height: 10vw;
    margin: 2em 0;
  }
  .pageWrapper .main .settigsBlock .addServerWrapper .addserver .addServerButtonWrapper #addNew {
    margin-bottom: 1em;
    width: 50%;
    padding: 0.2em 0.5em;
    border-radius: 1.5em;
    font-size: 2em;
  }
}