@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //    display: none;
    width: 100%;
    font-size: 2vw;
    overflow-x: hidden;
}

.pageWrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    //    padding: 2%;

    .infoWrapper {
        display: none;
        position: absolute;
        height: 100%;
        width: 100vw;
        z-index: 2;

        &::before {
            content: '';
            background: #000;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            z-index: 5;
        }

        .card {
            position: relative;
            top: 15%;
            left: 35%;
            width: 30vw;
            border-radius: 0.4em;
            background-color: #FFFFFF;
            //            background-color: #C6FFAA;
            //            text-align: center;
            z-index: 5;

            .emptyWrapper {
                display: none;
                position: absolute;
                left: 3em;
                bottom: 15.5em;

                .empty {
                    padding: 0.3em 1em;
                    border-radius: 0.4em;
                    border: 0.01em solid #FF3B45;
                    display: inline;
                    background-color: #FFFFFF;

                    span {
                        color: #000000;
                        font-family: circe, sans-serif;
                        font-size: 0.7em;
                        font-weight: bold;
                        letter-spacing: 0.01em;
                    }
                }
            }

            .rect {
                position: relative;
                height: 1.5em;
                border-radius: 0.4em 0.4em 0 0;
                background-color: #292929;
                text-align: center;

                .titleCard {
                    padding: 1em;
                    float: left;
                    color: #FFFFFF;
                    //                color: #000000;
                    font-family: circe, sans-serif;
                    font-size: 0.5em;
                    font-weight: bold;
                }

                #close {
                    margin: 1em;
                    float: right;
                    color: #FFFFFF;
                    //                color: #000000;
                    font-family: circe, sans-serif;
                    font-size: 0.5em;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                    }
                }


            }

            .formWrapper {
                display: none;
                clear: both;

                ul {
                    list-style: none;
                    font-family: circe, sans-serif;
                    font-size: 0.5em;

                    li {
                        margin: 5% 5%;
                        //                        height: 20%;

                        &:nth-child(1) {
                            margin-top: 5%;
                        }

                        &:nth-child(4) {
                            text-align: center;
                            height: 5vw;
                            padding-bottom: 8%;
                        }
                    }
                }

                #Save {
                    width: 30%;
                    //                                padding: 0px;
                    height: 100%;
                    outline: none;
                    border: none;
                    border-radius: 0.4em;
                    background-color: #F26B6B;
                    color: #f8f8f8;
                    font-family: Circe, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.5em;
                    //                                padding: 1% 0;

                    &:hover {
                        cursor: pointer;
                        background-color: #F25959;
                        transition: 0.3s;
                    }

                    &:not(:hover) {
                        transition: 0.3s;
                    }
                }
            }

            input[type="text"] {
                height: 100%;
                width: 100%;
                border-radius: 0.4em;
                padding: 1em;
                font-family: Circe, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1em;
                background: #EAEAEA;
                outline: none;
                border: none;
            }

            .infoDeletingWrapper {
                padding: 0.8em 1em 1em 1em;
                text-align: center;
                clear: both;

                span {
                    font-family: circe, sans-serif;
                    font-size: 0.6em;
                    font-weight: bold;
                }

                .answers {
                    margin-top: 0.8em;

                    #Yes {
                        margin-right: 0.5em;
                        padding: 0.4em 0;
                        width: 20%;
                        outline: none;
                        border: none;
                        border-radius: 0.4em;
                        background-color: #292929;
                        color: #f8f8f8;
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 0.6em;
                        //                                padding: 1% 0;

                        &:hover {
                            cursor: pointer;
                            background-color: #474747;
                            transition: 0.3s;
                        }

                        &:not(:hover) {
                            transition: 0.3s;
                        }
                    }

                    #Cancel {
                        margin-left: 0.5em;
                        padding: 0.4em 0;
                        width: 20%;
                        outline: none;
                        border: none;
                        border-radius: 0.4em;
                        background-color: #989898;
                        color: #f8f8f8;
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 0.6em;
                        //                                padding: 1% 0;

                        &:hover {
                            cursor: pointer;
                            background-color: #BDBDBD;
                            transition: 0.3s;
                        }

                        &:not(:hover) {
                            transition: 0.3s;
                        }
                    }
                }
            }

        }
    }

    .sidebar {
        position: fixed;
        height: 100vh;
        background-color: #FFFFFF;
        box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .logo {
            width: 2em;
            height: 30%;
            text-align: center;

            img {
                margin-top: 50%;
                width: 1.5em;
            }
        }

        .navbar {
            text-align: center;

            ul {
                list-style: none;

                li {
                    padding: 60% 0;
                    font-size: 0.7em;

                    i {
                        transition: 0.3s;

                        &:hover {
                            cursor: pointer;
                            color: #F98181;
                            transition: 0.3s;
                        }
                    }

                    &:nth-child(4) {
                        color: #F98181;
                    }

                }
            }
        }

        .mobileExit {
            display: none;
            text-align: center;
            margin-top: 90%;

            svg {
                padding: 5%;
                border-radius: 0.2em;
                box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.6);
            }
        }
    }

    .main {
        margin-left: 2.5em;
        display: flex;
        flex-direction: column;

        .head {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .title {
                width: 100%;
                padding-top: 2%;
                padding-left: 4%;

                span {
                    font-family: Circe, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.7em;
                }
            }

            .exit {
                width: 100%;

                .accountCard {
                    display: inline-block;
                    margin: 7% 0 0 15%;
                    padding: 0.1em 1.4em;
                    border-radius: 0.4em;
                    box-shadow: 0px 0.1em 0.8em rgba(0, 0, 0, 0.25);

                    span {
                        position: relative;
                        bottom: 0.2em;
                        right: 0.5em;
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 0.7em;
                    }

                    svg {
                        position: relative;
                        top: 0.15em;
                        left: 0.7em;
                        width: 1em;
                        height: 1em;
                        //                            z-index: 10;

                        path {
                            stroke: inherit;
                            stroke-width: inherit;
                            fill: inherit;
                        }

                        &:hover {
                            cursor: pointer;
                            fill: #F98181;
                            transition: 0.3s;
                        }

                        &:not(:hover) {
                            fill: #000000;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        .settigsBlock {
            margin-top: 2em;
            padding: 1em 0 1em 1.5em;
            margin-right: 2%;
            width: 100%;
            height: 100%;
            //            background-color: aquamarine;
            display: grid;
            grid-template-columns: 14em 14em 14em;
            grid-gap: 1em 1em;

            .settings {
                grid-column-start: 1;
                grid-column-end: 3;
                //                background-color: beige;

                ul {
                    list-style: none;

                    li {
                        padding: 1em 1em 0.2em 1em;
                        list-style: none;
                        border-bottom: 0.01em solid #D0D0D0;
                        font-family: circe, sans-serif;


                        .titleOption {
                            font-size: 0.8em;
                        }

                        span {
                            display: block;
                            font-size: 0.5em;

                            a {
                                color: #182CEF;

                                &:active,
                                &:visited {
                                    color: #182CEF;
                                }
                            }
                        }

                    }
                }
            }

            .addServerWrapper {
                grid-column-start: 3;
                grid-column-end: 4;

                .addserver {
                    width: 100%;
                    background-color: #221F1F;
                    border-radius: 0.4em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-family: circe, sans-serif;
                    color: #FFFFFF;

                    .titleAddServer {
                        padding-top: 0.5em;
                        text-align: center;

                        span {
                            font-size: 1.3em;
                        }
                    }

                    .servers {
                        list-style: none;

                        ul {
                            padding: 0.5em 1em 1em 1em;
                            list-style-type: none;

                            li {
                                width: 100%;
                                padding: 1em 0.7em 0.2em 0;
                                font-size: 0.8em;
                                font-family: circe, sans-serif;
                                border-bottom: 0.05em solid #e1e1e1;

                                .nameServer {
                                    padding-left: 0.4em;
                                    color: #FFFFFF;
                                    user-select: none;
                                }

                                .trashIcon {
                                    float: right;
                                    color: #A7A7A7;

                                    &:hover {
                                        color: #FFFFFF;
                                        cursor: pointer;
                                        transition: 0.3s;
                                    }

                                    &:not(:hover) {
                                        color: #A7A7A7;
                                        transition: 0.3s;
                                    }
                                }

                            }
                        }
                    }

                    .addServerButtonWrapper {
                        //                    height: 200px;
                        text-align: center;

                        #addNew {
                            margin-bottom: 1em;
                            width: 50%;
                            padding: 0.2em 0.5em;
                            height: 100%;
                            outline: none;
                            border: none;
                            border-radius: 0.4em;
                            background-color: #4A4A4A;
                            color: #ffffff;
                            font-family: Circe, sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 0.85em;
                            //                                padding: 1% 0;

                            &:hover {
                                cursor: pointer;
                                background-color: #636363;
                                transition: 0.3s;
                            }

                            &:not(:hover) {
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
}






@media screen and (max-width: 575.98px) {
    .pageWrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        //    padding: 2%;

        .infoWrapper {
            display: none;
            position: absolute;
            right: 20vw;
            top: 10%;
            height: 100%;
            width: 100vw;
            z-index: 2;

            &::before {
                content: '';
                background: #000;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.6;
                z-index: 5;
            }

            .card {
                position: relative;
                top: 10%;
                left: 35%;
                width: 70vw;
                border-radius: 1.5em;
                background-color: #FFFFFF;
                //            background-color: #C6FFAA;
                //            text-align: center;
                z-index: 5;

                .emptyWrapper {
                    display: none;
                    position: absolute;
                    left: 8em;
                    bottom: 0vw;
                    top: 83vw;

                    .empty {
                        padding: 0.8em 2em;
                        border-radius: 0.4em;
                        border: 0.01em solid #FF3B45;
                        display: inline;
                        background-color: #FFFFFF;

                        span {

                            font-size: 1.5em;
                            font-weight: bold;
                            letter-spacing: 0.01em;
                        }
                    }
                }

                .rect {
                    position: relative;
                    height: 4em;
                    border-radius: 1.5em 1.5em 0 0;
                    background-color: #292929;
                    text-align: center;

                    .titleCard {
                        padding: 0.3em 0.7em;
                        float: left;
                        color: #FFFFFF;
                        //                color: #000000;
                        font-family: circe, sans-serif;
                        font-size: 2em;
                        font-weight: bold;
                    }

                    #close {
                        margin: 0.3em 1em 0 0;
                        float: right;
                        color: #FFFFFF;
                        //                color: #000000;
                        font-family: circe, sans-serif;
                        font-size: 2em;
                        font-weight: bold;

                        &:hover {
                            cursor: pointer;
                        }
                    }


                }

                .formWrapper {
                    display: none;
                    clear: both;

                    ul {
                        list-style: none;
                        font-family: circe, sans-serif;
                        font-size: 1.5em;

                        li {
                            margin: 5% 5%;
                            //                        height: 20%;

                            &:nth-child(1) {
                                margin-top: 5%;
                            }

                            &:nth-child(4) {
                                text-align: center;
                                height: 15vw;
                                padding-bottom: 8%;
                            }
                        }
                    }

                    #Save {
                        width: 30%;
                        //                                padding: 0px;
                        height: 100%;
                        outline: none;
                        border: none;
                        border-radius: 0.4em;
                        background-color: #F26B6B;
                        color: #f8f8f8;
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.5em;
                        //                                padding: 1% 0;

                        &:hover {
                            cursor: pointer;
                            background-color: #F25959;
                            transition: 0.3s;
                        }

                        &:not(:hover) {
                            transition: 0.3s;
                        }
                    }
                }

                input[type="text"] {
                    height: 100%;
                    width: 100%;
                    border-radius: 0.4em;
                    padding: 1em;
                    font-family: Circe, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1em;
                    background: #EAEAEA;
                    outline: none;
                    border: none;
                }

                .infoDeletingWrapper {
                    padding: 2em;
                    text-align: center;
                    clear: both;

                    span {
                        font-family: circe, sans-serif;
                        font-size: 1.9em;
                        font-weight: bold;
                    }

                    .answers {
                        margin-top: 0.8em;

                        #Yes {
                            margin-right: 0.5em;
                            padding: 0.4em 0;
                            width: 30%;
                            outline: none;
                            border: none;
                            border-radius: 0.4em;
                            background-color: #292929;
                            color: #f8f8f8;
                            font-family: Circe, sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 2em;
                            //                                padding: 1% 0;

                            &:hover {
                                cursor: pointer;
                                background-color: #474747;
                                transition: 0.3s;
                            }

                            &:not(:hover) {
                                transition: 0.3s;
                            }
                        }

                        #Cancel {
                            margin-left: 0.5em;
                            padding: 0.4em 0;
                            width: 30%;
                            outline: none;
                            border: none;
                            border-radius: 0.4em;
                            background-color: #989898;
                            color: #f8f8f8;
                            font-family: Circe, sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 2em;
                            //                                padding: 1% 0;

                            &:hover {
                                cursor: pointer;
                                background-color: #BDBDBD;
                                transition: 0.3s;
                            }

                            &:not(:hover) {
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }

        .sidebar {
            position: inherit;
            height: 9vw;
            width: 100%;
            background-color: #FFFFFF;
            box-shadow: 0 0 1.5em rgba(0, 0, 0, 0);
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .logo {
                margin-left: 2em;
                width: 2em;
                height: 30%;
                text-align: center;

                img {
                    margin-top: 25%;
                    width: 4em;
                }
            }

            .navbar {
                text-align: center;

                ul {
                    margin-top: 1em;
                    list-style: none;

                    li {
                        display: inline-block;
                        padding: 0 1em;
                        font-size: 2em;

                        &:nth-child(2) {
                            display: none;
                        }

                        &:nth-child(3) {
                            display: none;
                        }

                        &:nth-child(4) {
                            color: #F98181;
                        }

                    }
                }
            }

            .mobileExit {
                display: block;
                text-align: center;
                margin-right: 5%;
                margin-top: 2%;

                svg {
                    width: 2.5em;
                    height: 2.5em;
                    padding: 5%;
                    border-radius: 0.4em;
                    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.6);
                }
            }
        }

        .main {
            margin-left: 0;
            display: flex;
            flex-direction: column;

            .head {
                width: 100%;
                display: block;
                text-align: center;

                .title {
                    width: 100%;
                    padding-top: 2%;
                    padding-left: 0;

                    span {
                        font-weight: bold;
                        font-size: 3em;
                    }
                }

                .exit {
                    display: none;
                }
            }

            .settigsBlock {
                padding: 0 5em 1em 5em;
                margin-top: 0;
                margin-right: 2%;
                width: 100%;
                height: 100%;
                //            background-color: aquamarine;
                display: flex;
                flex-direction: column;

                .settings {
                    margin-bottom: 1em;

                    ul {
                        li {

                            .titleOption {
                                font-size: 2.2em;
                            }

                            span {
                                font-size: 1.4em;
                            }

                        }
                    }
                }

                .addServerWrapper {
                    margin: 0 4em;

                    .addserver {
                        width: 100%;
                        border-radius: 1.5em;

                        .titleAddServer {
                            padding-top: 0.5em;
                            text-align: center;

                            span {
                                font-size: 3em;
                            }
                        }

                        .servers {
                            ul {
                                padding: 0.5em 1em 1em 1em;

                                li {
                                    width: 100%;
                                    padding: 1em 0.7em 0.2em 0;
                                    font-size: 2em;
                                }
                            }
                        }

                        .addServerButtonWrapper {
                            height: 10vw;
                            margin: 2em 0;

                            #addNew {
                                margin-bottom: 1em;
                                width: 50%;
                                padding: 0.2em 0.5em;
                                border-radius: 1.5em;
                                font-size: 2em;
                                //                                padding: 1% 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .pageWrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        //    padding: 2%;

        .infoWrapper {
            display: none;
            position: absolute;
            right: 20vw;
            top: 10%;
            height: 100%;
            width: 100vw;
            z-index: 2;

            &::before {
                content: '';
                background: #000;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.6;
                z-index: 5;
            }

            .card {
                position: relative;
                top: 10%;
                left: 35%;
                width: 70vw;
                border-radius: 1.5em;
                background-color: #FFFFFF;
                //            background-color: #C6FFAA;
                //            text-align: center;
                z-index: 5;

                .emptyWrapper {
                    display: none;
                    position: absolute;
                    left: 8em;
                    bottom: 0vw;
                    top: 83vw;

                    .empty {
                        padding: 0.8em 2em;
                        border-radius: 0.4em;
                        border: 0.01em solid #FF3B45;
                        display: inline;
                        background-color: #FFFFFF;

                        span {

                            font-size: 1.5em;
                            font-weight: bold;
                            letter-spacing: 0.01em;
                        }
                    }
                }

                .rect {
                    position: relative;
                    height: 4em;
                    border-radius: 1.5em 1.5em 0 0;
                    background-color: #292929;
                    text-align: center;

                    .titleCard {
                        padding: 0.3em 0.7em;
                        float: left;
                        color: #FFFFFF;
                        //                color: #000000;
                        font-family: circe, sans-serif;
                        font-size: 2em;
                        font-weight: bold;
                    }

                    #close {
                        margin: 0.3em 1em 0 0;
                        float: right;
                        color: #FFFFFF;
                        //                color: #000000;
                        font-family: circe, sans-serif;
                        font-size: 2em;
                        font-weight: bold;

                        &:hover {
                            cursor: pointer;
                        }
                    }


                }

                .formWrapper {
                    display: none;
                    clear: both;

                    ul {
                        list-style: none;
                        font-family: circe, sans-serif;
                        font-size: 1.5em;

                        li {
                            margin: 5% 5%;
                            //                        height: 20%;

                            &:nth-child(1) {
                                margin-top: 5%;
                            }

                            &:nth-child(4) {
                                text-align: center;
                                height: 15vw;
                                padding-bottom: 8%;
                            }
                        }
                    }

                    #Save {
                        width: 30%;
                        //                                padding: 0px;
                        height: 100%;
                        outline: none;
                        border: none;
                        border-radius: 0.4em;
                        background-color: #F26B6B;
                        color: #f8f8f8;
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.5em;
                        //                                padding: 1% 0;

                        &:hover {
                            cursor: pointer;
                            background-color: #F25959;
                            transition: 0.3s;
                        }

                        &:not(:hover) {
                            transition: 0.3s;
                        }
                    }
                }

                input[type="text"] {
                    height: 100%;
                    width: 100%;
                    border-radius: 0.4em;
                    padding: 1em;
                    font-family: Circe, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1em;
                    background: #EAEAEA;
                    outline: none;
                    border: none;
                }

                .infoDeletingWrapper {
                    padding: 2em;
                    text-align: center;
                    clear: both;

                    span {
                        font-family: circe, sans-serif;
                        font-size: 1.9em;
                        font-weight: bold;
                    }

                    .answers {
                        margin-top: 0.8em;

                        #Yes {
                            margin-right: 0.5em;
                            padding: 0.4em 0;
                            width: 30%;
                            outline: none;
                            border: none;
                            border-radius: 0.4em;
                            background-color: #292929;
                            color: #f8f8f8;
                            font-family: Circe, sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 2em;
                            //                                padding: 1% 0;

                            &:hover {
                                cursor: pointer;
                                background-color: #474747;
                                transition: 0.3s;
                            }

                            &:not(:hover) {
                                transition: 0.3s;
                            }
                        }

                        #Cancel {
                            margin-left: 0.5em;
                            padding: 0.4em 0;
                            width: 30%;
                            outline: none;
                            border: none;
                            border-radius: 0.4em;
                            background-color: #989898;
                            color: #f8f8f8;
                            font-family: Circe, sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 2em;
                            //                                padding: 1% 0;

                            &:hover {
                                cursor: pointer;
                                background-color: #BDBDBD;
                                transition: 0.3s;
                            }

                            &:not(:hover) {
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }

        .sidebar {
            position: inherit;
            height: 9vw;
            width: 100%;
            background-color: #FFFFFF;
            box-shadow: 0 0 1.5em rgba(0, 0, 0, 0);
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .logo {
                margin-left: 2em;
                width: 2em;
                height: 30%;
                text-align: center;

                img {
                    margin-top: 25%;
                    width: 4em;
                }
            }

            .navbar {
                text-align: center;

                ul {
                    margin-top: 1em;
                    list-style: none;

                    li {
                        display: inline-block;
                        padding: 0 1em;
                        font-size: 2em;

                        &:nth-child(2) {
                            display: none;
                        }

                        &:nth-child(3) {
                            display: none;
                        }

                        &:nth-child(4) {
                            color: #F98181;
                        }

                    }
                }
            }

            .mobileExit {
                display: block;
                text-align: center;
                margin-right: 5%;
                margin-top: 2%;

                svg {
                    width: 2.5em;
                    height: 2.5em;
                    padding: 5%;
                    border-radius: 0.4em;
                    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.6);
                }
            }
        }

        .main {
            margin-left: 0;
            display: flex;
            flex-direction: column;

            .head {
                width: 100%;
                display: block;
                text-align: center;

                .title {
                    width: 100%;
                    padding-top: 2%;
                    padding-left: 0;

                    span {
                        font-weight: bold;
                        font-size: 3em;
                    }
                }

                .exit {
                    display: none;
                }
            }

            .settigsBlock {
                padding: 0 5em 1em 5em;
                margin-top: 0;
                margin-right: 2%;
                width: 100%;
                height: 100%;
                //            background-color: aquamarine;
                display: flex;
                flex-direction: column;

                .settings {
                    margin-bottom: 1em;

                    ul {
                        li {

                            .titleOption {
                                font-size: 2.2em;
                            }

                            span {
                                font-size: 1.4em;
                            }

                        }
                    }
                }

                .addServerWrapper {
                    margin: 0 4em;

                    .addserver {
                        width: 100%;
                        border-radius: 1.5em;

                        .titleAddServer {
                            padding-top: 0.5em;
                            text-align: center;

                            span {
                                font-size: 3em;
                            }
                        }

                        .servers {
                            ul {
                                padding: 0.5em 1em 1em 1em;

                                li {
                                    width: 100%;
                                    padding: 1em 0.7em 0.2em 0;
                                    font-size: 2em;
                                }
                            }
                        }

                        .addServerButtonWrapper {
                            height: 10vw;
                            margin: 2em 0;

                            #addNew {
                                margin-bottom: 1em;
                                width: 50%;
                                padding: 0.2em 0.5em;
                                border-radius: 1.5em;
                                font-size: 2em;
                                //                                padding: 1% 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1030.98px) {
    .pageWrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        //    padding: 2%;

        .infoWrapper {
            display: none;
            position: absolute;
            right: 20vw;
            top: 10%;
            height: 100%;
            width: 100vw;
            z-index: 2;

            &::before {
                content: '';
                background: #000;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.6;
                z-index: 5;
            }

            .card {
                position: relative;
                top: 10%;
                left: 35%;
                width: 70vw;
                border-radius: 1.5em;
                background-color: #FFFFFF;
                //            background-color: #C6FFAA;
                //            text-align: center;
                z-index: 5;

                .emptyWrapper {
                    display: none;
                    position: absolute;
                    left: 8em;
                    bottom: 0vw;
                    top: 83vw;

                    .empty {
                        padding: 0.8em 2em;
                        border-radius: 0.4em;
                        border: 0.01em solid #FF3B45;
                        display: inline;
                        background-color: #FFFFFF;

                        span {

                            font-size: 1.5em;
                            font-weight: bold;
                            letter-spacing: 0.01em;
                        }
                    }
                }

                .rect {
                    position: relative;
                    height: 4em;
                    border-radius: 1.5em 1.5em 0 0;
                    background-color: #292929;
                    text-align: center;

                    .titleCard {
                        padding: 0.3em 0.7em;
                        float: left;
                        color: #FFFFFF;
                        //                color: #000000;
                        font-family: circe, sans-serif;
                        font-size: 2em;
                        font-weight: bold;
                    }

                    #close {
                        margin: 0.3em 1em 0 0;
                        float: right;
                        color: #FFFFFF;
                        //                color: #000000;
                        font-family: circe, sans-serif;
                        font-size: 2em;
                        font-weight: bold;

                        &:hover {
                            cursor: pointer;
                        }
                    }


                }

                .formWrapper {
                    display: none;
                    clear: both;

                    ul {
                        list-style: none;
                        font-family: circe, sans-serif;
                        font-size: 1.5em;

                        li {
                            margin: 5% 5%;
                            //                        height: 20%;

                            &:nth-child(1) {
                                margin-top: 5%;
                            }

                            &:nth-child(4) {
                                text-align: center;
                                height: 15vw;
                                padding-bottom: 8%;
                            }
                        }
                    }

                    #Save {
                        width: 30%;
                        //                                padding: 0px;
                        height: 100%;
                        outline: none;
                        border: none;
                        border-radius: 0.4em;
                        background-color: #F26B6B;
                        color: #f8f8f8;
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.5em;
                        //                                padding: 1% 0;

                        &:hover {
                            cursor: pointer;
                            background-color: #F25959;
                            transition: 0.3s;
                        }

                        &:not(:hover) {
                            transition: 0.3s;
                        }
                    }
                }

                input[type="text"] {
                    height: 100%;
                    width: 100%;
                    border-radius: 0.4em;
                    padding: 1em;
                    font-family: Circe, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1em;
                    background: #EAEAEA;
                    outline: none;
                    border: none;
                }

                .infoDeletingWrapper {
                    padding: 2em;
                    text-align: center;
                    clear: both;

                    span {
                        font-family: circe, sans-serif;
                        font-size: 1.9em;
                        font-weight: bold;
                    }

                    .answers {
                        margin-top: 0.8em;

                        #Yes {
                            margin-right: 0.5em;
                            padding: 0.4em 0;
                            width: 30%;
                            outline: none;
                            border: none;
                            border-radius: 0.4em;
                            background-color: #292929;
                            color: #f8f8f8;
                            font-family: Circe, sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 2em;
                            //                                padding: 1% 0;

                            &:hover {
                                cursor: pointer;
                                background-color: #474747;
                                transition: 0.3s;
                            }

                            &:not(:hover) {
                                transition: 0.3s;
                            }
                        }

                        #Cancel {
                            margin-left: 0.5em;
                            padding: 0.4em 0;
                            width: 30%;
                            outline: none;
                            border: none;
                            border-radius: 0.4em;
                            background-color: #989898;
                            color: #f8f8f8;
                            font-family: Circe, sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 2em;
                            //                                padding: 1% 0;

                            &:hover {
                                cursor: pointer;
                                background-color: #BDBDBD;
                                transition: 0.3s;
                            }

                            &:not(:hover) {
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }

        .sidebar {
            position: inherit;
            height: 9vw;
            width: 100%;
            background-color: #FFFFFF;
            box-shadow: 0 0 1.5em rgba(0, 0, 0, 0);
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .logo {
                margin-left: 2em;
                width: 2em;
                height: 30%;
                text-align: center;

                img {
                    margin-top: 25%;
                    width: 4em;
                }
            }

            .navbar {
                text-align: center;

                ul {
                    margin-top: 1em;
                    list-style: none;

                    li {
                        display: inline-block;
                        padding: 0 1em;
                        font-size: 2em;

                        &:nth-child(2) {
                            display: none;
                        }

                        &:nth-child(3) {
                            display: none;
                        }

                        &:nth-child(4) {
                            color: #F98181;
                        }

                    }
                }
            }

            .mobileExit {
                display: block;
                text-align: center;
                margin-right: 5%;
                margin-top: 2%;

                svg {
                    width: 2.5em;
                    height: 2.5em;
                    padding: 5%;
                    border-radius: 0.4em;
                    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.6);
                }
            }
        }

        .main {
            margin-left: 0;
            display: flex;
            flex-direction: column;

            .head {
                width: 100%;
                display: block;
                text-align: center;

                .title {
                    width: 100%;
                    padding-top: 2%;
                    padding-left: 0;

                    span {
                        font-weight: bold;
                        font-size: 3em;
                    }
                }

                .exit {
                    display: none;
                }
            }

            .settigsBlock {
                padding: 0 5em 1em 5em;
                margin-top: 0;
                margin-right: 2%;
                width: 100%;
                height: 100%;
                //            background-color: aquamarine;
                display: flex;
                flex-direction: column;

                .settings {
                    margin-bottom: 1em;

                    ul {
                        li {

                            .titleOption {
                                font-size: 2.2em;
                            }

                            span {
                                font-size: 1.4em;
                            }

                        }
                    }
                }

                .addServerWrapper {
                    margin: 0 4em;

                    .addserver {
                        width: 100%;
                        border-radius: 1.5em;

                        .titleAddServer {
                            padding-top: 0.5em;
                            text-align: center;

                            span {
                                font-size: 3em;
                            }
                        }

                        .servers {
                            ul {
                                padding: 0.5em 1em 1em 1em;

                                li {
                                    width: 100%;
                                    padding: 1em 0.7em 0.2em 0;
                                    font-size: 2em;
                                }
                            }
                        }

                        .addServerButtonWrapper {
                            height: 10vw;
                            margin: 2em 0;

                            #addNew {
                                margin-bottom: 1em;
                                width: 50%;
                                padding: 0.2em 0.5em;
                                border-radius: 1.5em;
                                font-size: 2em;
                                //                                padding: 1% 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
