* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: none;
    width: 100%;
    font-size: 2vw;
    overflow-x: hidden;
}

.pageWrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    //    padding: 2%;

    .popupWrapper {
        display: none;
        top: 50%;
        height: 100%;
        width: 100vw;
        z-index: 4;

        &::before {
            content: '';
            background: #000;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            z-index: 5;
        }

        .popup {
            text-align: center;
            position: fixed;
            top: 35%;
            left: 35%;
            padding: 1%;
            width: 30vw;
            border-radius: 0.4em;
            background-color: rgba(242, 107, 107, 1);
            //            background-color: #C6FFAA;
            //            text-align: center;
            z-index: 5;

            span {
                color: #FFFFFF;
                //                color: #000000;
                font-family: circe, sans-serif;
                font-size: 0.5em;
                font-weight: bold;
            }

            input[type="button"] {
                margin: 10% 0 0 0;
                padding: 1% 3%;
                width: 40%;
                border-radius: 0.4em;
                font-family: circe, sans-serif;
                font-size: 0.5em;
                border: none;
                outline: none;

                &:active,
                &:focus,
                &:hover {
                    border: none;
                    outline: none;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #E5E5E5;
                }
            }
        }
    }

    .infoWrapper {
        display: none;
        position: absolute;
        height: 100%;
        width: 100vw;
        z-index: 2;

        &::before {
            content: '';
            background: #000;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            z-index: 5;
        }

        .card {
            position: relative;
            top: 15%;
            left: 35%;
            width: 30vw;
            border-radius: 0.4em;
            background-color: #FFFFFF;
            //            background-color: #C6FFAA;
            //            text-align: center;
            z-index: 5;

            .emptyWrapper {
                display: none;
                position: absolute;
                left: 2.5em;
                bottom: 15.5em;

                .empty {
                    padding: 0.3em 1em;
                    border-radius: 0.4em;
                    border: 0.01em solid #FF3B45;
                    display: inline;
                    background-color: #FFFFFF;

                    span {
                        color: #000000;
                        font-family: circe, sans-serif;
                        font-size: 0.7em;
                        font-weight: bold;
                        letter-spacing: 0.01em;
                    }
                }
            }

            .rect {
                position: relative;
                height: 1.5em;
                border-radius: 0.4em 0.4em 0 0;
                background-color: #292929;
                text-align: center;

                .titleCard {
                    padding: 1em;
                    float: left;
                    color: #FFFFFF;
                    //                color: #000000;
                    font-family: circe, sans-serif;
                    font-size: 0.5em;
                    font-weight: bold;
                }

                #close {
                    margin: 1em;
                    float: right;
                    color: #FFFFFF;
                    //                color: #000000;
                    font-family: circe, sans-serif;
                    font-size: 0.5em;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                    }
                }


            }

            .formWrapper {
                display: none;
                clear: both;

                ul {
                    list-style: none;
                    font-family: circe, sans-serif;
                    font-size: 0.5em;

                    .error ~ label {
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1em;
                        color: #FF3838;
                    }

                    li {
                        margin: 5% 5%;
                        //                        height: 20%;

                        &:nth-child(1) {
                            margin-top: 5%;
                        }

                        &:nth-child(4) {
                            text-align: center;
                            height: 5vw;
                            padding-bottom: 8%;
                        }
                    }
                }

                #Save {
                    width: 30%;
                    //                                padding: 0px;
                    height: 100%;
                    outline: none;
                    border: none;
                    border-radius: 0.4em;
                    background-color: #F26B6B;
                    color: #f8f8f8;
                    font-family: Circe, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.5em;
                    //                                padding: 1% 0;

                    &:hover {
                        cursor: pointer;
                        background-color: #F25959;
                        transition: 0.3s;
                    }

                    &:not(:hover) {
                        transition: 0.3s;
                    }
                }
            }

            input[type="text"] {
                height: 100%;
                width: 100%;
                border-radius: 0.4em;
                padding: 1em;
                font-family: Circe, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1em;
                background: #EAEAEA;
                outline: none;
                border: none;
            }

            .infoDeletingWrapper {
                padding: 0.8em 1em 1em 1em;
                text-align: center;
                clear: both;

                span {
                    font-family: circe, sans-serif;
                    font-size: 0.6em;
                    font-weight: bold;
                }

                .answers {
                    margin-top: 0.8em;

                    #Yes {
                        margin-right: 0.5em;
                        padding: 0.4em 0;
                        width: 20%;
                        outline: none;
                        border: none;
                        border-radius: 0.4em;
                        background-color: #292929;
                        color: #f8f8f8;
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 0.6em;
                        //                                padding: 1% 0;

                        &:hover {
                            cursor: pointer;
                            background-color: #474747;
                            transition: 0.3s;
                        }

                        &:not(:hover) {
                            transition: 0.3s;
                        }
                    }

                    #Cancel {
                        margin-left: 0.5em;
                        padding: 0.4em 0;
                        width: 20%;
                        outline: none;
                        border: none;
                        border-radius: 0.4em;
                        background-color: #989898;
                        color: #f8f8f8;
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 0.6em;
                        //                                padding: 1% 0;

                        &:hover {
                            cursor: pointer;
                            background-color: #BDBDBD;
                            transition: 0.3s;
                        }

                        &:not(:hover) {
                            transition: 0.3s;
                        }
                    }
                }
            }

        }
    }

    .sidebar {
        position: fixed;
        height: 100vh;
        background-color: #FFFFFF;
        box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .logo {
            width: 2em;
            height: 30%;
            text-align: center;

            img {
                margin-top: 50%;
                width: 1.5em;
            }
        }

        .navbar {
            text-align: center;

            ul {
                list-style: none;

                li {
                    padding: 60% 0;
                    font-size: 0.7em;

                    i {
                        transition: 0.3s;

                        &:hover {
                            cursor: pointer;
                            color: #F98181;
                            transition: 0.3s;
                        }
                    }

                    &:nth-child(4) {
                        color: #F98181;
                    }

                }
            }
        }

        .mobileExit {
            display: none;
            text-align: center;
            margin-top: 90%;

            svg {
                padding: 5%;
                border-radius: 0.2em;
                box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.6);
            }
        }
    }

    .main {
        margin-left: 2.5em;
        display: flex;
        flex-direction: column;

        .head {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .title {
                width: 100%;
                padding-top: 2%;
                padding-left: 4%;

                span {
                    font-family: Circe, sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.7em;
                }
            }

            .exit {
                width: 100%;

                .accountCard {
                    display: inline-block;
                    margin: 7% 0 0 44%;
                    padding: 0.1em 1.4em;
                    border-radius: 0.4em;
                    box-shadow: 0px 0.1em 0.8em rgba(0, 0, 0, 0.25);


                    span {
                        position: relative;
                        bottom: 0.2em;
                        right: 0.5em;
                        font-family: Circe, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 0.7em;
                    }

                    svg {
                        position: relative;
                        top: 0.15em;
                        left: 0.7em;
                        width: 1em;
                        height: 1em;
                        //                            z-index: 10;

                        path {
                            stroke: inherit;
                            stroke-width: inherit;
                            fill: inherit;
                        }

                        &:hover {
                            cursor: pointer;
                            fill: #F98181;
                            transition: 0.3s;
                        }

                        &:not(:hover) {
                            fill: #000000;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        .settigsBlock {
            margin-top: 2em;
            padding: 1em 0 1em 1.5em;
            margin-right: 2%;
            width: 100%;
            height: 100%;
            //            background-color: aquamarine;
            display: grid;
            grid-template-columns: 14em 14em 14em;
            grid-gap: 1em 1em;

            .searchWrapper {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                #mail {
                    padding: 1em;
                    width: 80%;
                    height: 3em;
                    outline: none;
                    border: 0;
                    border-radius: 1em;
                    background-color: #E0DFDF;
                    font-family: circe, sans-serif;
                    font-size: 0.7em;
                }

                #find {
                    margin-left: 1em;
                    padding: 0.3em 3em;
                    outline: none;
                    border: 0;
                    border-radius: 0.5em;
                    background-color: #F26B6B;
                    font-family: circe, sans-serif;
                    font-weight: bold;
                    font-size: 1em;
                    color: #ffffff;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        background-color: #F22F2F;
                        transition: 0.3s;
                    }
                }
            }

            .users {
                grid-column-start: 1;
                grid-column-end: 4;
                //                background-color: beige;

                #usersList {
                    list-style: none;

                    li {
                        padding: 0.5em 0;
                        list-style: none;
                        //                        border-bottom: 0.01em solid #D0D0D0;
                        font-family: circe, sans-serif;

                        .select__options {
                            padding-top: 0.7em;
                            position: absolute;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            //                            top: 36%;
                            left: 70%;
                            z-index: 3;

                            .select__status {
                                margin-right: 1em;
                                border-radius: 0.5em;
                                background-color: #F26B6B;
                                cursor: pointer;
                                transition: 0.3s;

                                &:hover {
                                    transition: 0.3s;
                                    background-color: #F22F2F;
                                }

                                span {
                                    padding: 0 1em;
                                    font-family: circe, sans-serif;
                                    font-size: 0.8em;
                                    color: #ffffff;
                                    user-select: none;
                                }
                            }

                            .select__remove {
                                margin-right: 0.5em;
                                border-radius: 0.5em;
                                background-color: #ACACAC;
                                cursor: pointer;
                                transition: 0.3s;

                                &:hover {
                                    transition: 0.3s;
                                    background-color: #838383;
                                }

                                span {
                                    padding: 0 1em;
                                    font-family: circe, sans-serif;
                                    font-size: 0.8em;
                                    color: #ffffff;
                                    user-select: none;
                                }
                            }
                        }


                        .selectWrapper {
                            position: relative;
                            //                    display: none;
                            width: 100%;
                            z-index: 1;
                            font-family: circe, sans-serif;
                            font-style: normal;
                            font-weight: bold;

                            .select {
                                width: 100%;
                                //                                margin: 0.5em 0..5em;
                                position: relative;

                                &.is-active {
                                    .select__body {
                                        display: block;
                                    }
                                }

                                .select__header {
                                    padding: 0.5em 0;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    cursor: pointer;
                                    border: 0.03em solid #cccccc;
                                    background-color: #f2f2f2;
                                    border-radius: 0.5em;

                                    .select__mail {
                                        padding-left: 1em;
                                        padding-top: 0.1em;
                                        display: flex;
                                        align-items: center;

                                        .select__current {
                                            font-size: 0.8em;
                                            line-height: 2em;
                                            padding: 0.1em 0.2em;
                                        }

                                        .select__icon {
                                            //                                        margin-left: auto;
                                            //                                            margin-top: 0.9em;
                                            margin-left: 0.5em;
                                            align-items: center;
                                            display: flex;
                                            flex-shrink: 0;
                                            justify-content: center;
                                            height: 1em;
                                            text-align: center;
                                            width: 1em;
                                            font-size: 0.5em;
                                        }
                                    }

                                }

                                .select__body {
                                    display: none;
                                    //                                    border: 0.03em solid #cccccc;
                                    border-radius: 0 0 0.5em 0.5em;
                                    border-top: 0;
                                    position: relative;
                                    left: 0;
                                    right: 0;
                                    top: 100%;
                                    z-index: 3;

                                    .select__item {
                                        border-radius: 0 0 1em 1em;
                                        border: 0.03em solid #cccccc;
                                        border-top: 0;
                                        padding: 2em;
                                        font-size: 0.5em;
                                        cursor: pointer;
                                        background-color: #f2f2f2;

                                        .agentTitle {
                                            font-family: circe, sans-serif;
                                            font-weight: bold;
                                            font-size: 2em;
                                        }

                                        #agentList {
                                            li {
                                                padding: 0;

                                                span {
                                                    font-family: circe, sans-serif;
                                                    font-weight: bold;
                                                    font-size: 1.5em;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}






@media screen and (max-width: 575.98px) {}

@media screen and (min-width: 576px) and (max-width: 991.98px) {}

@media screen and (min-width: 992px) and (max-width: 1030.98px) {}
